java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/accountingposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sophis.net/accountingposition" xmlns:instr="http://www.sophis.net/Instrument" xmlns:pos="http://www.sophis.net/position" xmlns:common="http://sophis.net/sophis/common" targetNamespace="http://www.sophis.net/accountingposition" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:import namespace="http://www.sophis.net/Instrument" schemaLocation="instrument.xsd"/>
	<xsd:import namespace="http://www.sophis.net/position" schemaLocation="position.xsd"/>
	<xsd:import namespace="http://sophis.net/sophis/common" schemaLocation="common.xsd"/>
	<xsd:complexType name="AccountingPositions">
		<xsd:sequence>
			<xsd:element name="accountingposition" type="tns:AccountingPosition" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="accountingpositions" type="tns:AccountingPositions"/>
	<xsd:complexType name="AccountingPosition">
		<xsd:sequence minOccurs="0">
			<xsd:element name="references" type="tns:References"/>
			<xsd:element name="positionInfos" type="tns:PositionInfos" minOccurs="0"/>
			<!--Income generated by forecast-->
			<xsd:element name="income" type="xsd:double" minOccurs="0"/>	
			<xsd:element name="taxlotlist" type="tns:TaxLotList" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attributeGroup ref="common:PersistentEntity.model">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Since 5.3.3 add persitenceType for import</xsd:documentation>
			</xsd:annotation>
		</xsd:attributeGroup>
		<xsd:attribute name="sessionStatus" type="pos:SessionStatus"/>
		<xsd:attribute name="valuationDate" type="xsd:date"/>
		<xsd:attribute name="importType" type="pos:ImportType" default="Update"/>
		<xsd:attribute name="sessionId" type="xsd:unsignedInt"/>
		<xsd:attribute name="usePnlDate" type="xsd:int" default="0"/>
	</xsd:complexType>
	<xsd:element name="accountingposition" type="tns:AccountingPosition"/>	
	<xsd:complexType name="Identifier">
		<xsd:sequence>
			<xsd:element name="sophis" type="xsd:unsignedInt" minOccurs="0"/>
			<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountingIdentifier">
		<xsd:sequence>
			<xsd:element name="accountingbook" type="xsd:unsignedInt" minOccurs="0"/>
			<xsd:element name="instrument" type="xsd:unsignedInt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:element name="identifier" type="tns:AccountingIdentifier"/>
	<xsd:complexType name="References">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Describes references of the position.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accountingbook" type="tns:Identifier"/>
			<xsd:element name="instrument" type="instr:Identifier"/>
			<xsd:element name="portfolio" type="tns:Identifier" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxLotList">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Describes a list of taxlot for a specified accounting principle
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accountingprinciple" type="tns:Identifier"/>		
			<xsd:element name="taxlot" type="tns:TaxLot" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForcedValues">
		<xsd:sequence>
			<xsd:element name="AmortisingAmount" type="xsd:double" minOccurs="0"/>	
			<xsd:element name="InventoryPrice" type="xsd:double" minOccurs="0"/>	
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProvisionInfo">
		<xsd:sequence>			
			<xsd:element name="Date" type="xsd:date" minOccurs="1"/>			
			<xsd:element name="ReversalSoldSecurities" type="xsd:double" minOccurs="1"/>		
			<xsd:element name="InPrice" type="tns:ProvisionInfoInPrice" minOccurs="0"/>	
			<xsd:element name="InAmount" type="tns:ProvisionInfoInAmount" minOccurs="0"/>				
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="ProvisionInfoInAmount">
		<xsd:sequence>
			<xsd:element name="ProvisionAmount" type="xsd:double" minOccurs="1"/>	
			<xsd:element name="ProvisionAmountRemainingPosition" type="xsd:double" minOccurs="1"/>	
		</xsd:sequence>
	</xsd:complexType>	
		<xsd:complexType name="ProvisionInfoInPrice">
		<xsd:sequence>
			<xsd:element name="Price" type="xsd:double" minOccurs="1"/>	
			<xsd:element name="SoldSecurities" type="xsd:double" minOccurs="1"/>	
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="TaxLot">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Describes a  taxlot.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- taxlot Identifier in the database -->
			<xsd:element name="Ident" type="xsd:long" minOccurs="0"/>		
			<!-- taxlot open deal Identifier in the database -->
			<xsd:element name="OpenDealIdent" type="xsd:long" minOccurs="0"/>
			<!-- openDeal real folio-->
			<xsd:element name="OpenDealRealFolio" type="xsd:long"/>
			<!-- taxlot initial quantity -->
			<xsd:element name="InitialQuantity" type="xsd:double" minOccurs="0"/>
			<!-- taxlot remaining quantity -->			
			<xsd:element name="RemainingQuantity" type="xsd:double"/>
			<!-- taxlot open deal negociation date -->			
			<xsd:element name="OpenDate" type="xsd:date"/>
			<!-- taxlot open deal negociation hour -->			
			<xsd:element name="OpenHour" type="xsd:unsignedInt"/>
			<!-- taxlot open deal value date -->			
			<xsd:element name="OpenValueDate" type="xsd:date" minOccurs="0"/>
			<!-- taxlot open deal "date settlement date -->			
			<xsd:element name="OpenSettlementDate" type="xsd:date" minOccurs="0"/>
			<!-- negociation date of the deal that closes the taxlot -->	
			<xsd:element name="CloseDate" type="xsd:date" minOccurs="0"/>
			<!--coefficient to apply to the unit price to reflect a split corporate action -->
			<xsd:element name="SplitCoeff" type="xsd:double" minOccurs="0"/>
			<!--number of securities that have been added by a free attribution -->
			<xsd:element name="FreeAttribQuantity" type="xsd:double" minOccurs="0"/>			
			<!--coefficient to apply to the unit price to reflect a free attribution corporate action -->
			<xsd:element name="FreeAttribCoeff" type="xsd:double" minOccurs="0"/>	
			<xsd:element name="ReturnOfCashCoeff" type="xsd:double" minOccurs="0"/>					
			<!--unit price (cleanPrice before any free attrib or split) of the taxlot open deal -->
			<xsd:element name="UnitPriceBuy" type="xsd:double"/>
			<xsd:element name="UnitPriceType" type="pos:AveragePriceType" minOccurs="0"/>			
			<xsd:element name="NetAmount" type="xsd:double"/>
			<xsd:element name="AveragePrice" type="xsd:double" minOccurs="0"/>
			<!--AccruedInterest expressed in % it the price type is aqInPercentage or aqInPercentWithAccrued  -->	
			<xsd:element name="AccruedInterest" type="xsd:double" minOccurs="0"/>		
			<!-- taxlot open deal market Fees -->
			<xsd:element name="OpenMarketFees" type="xsd:double" minOccurs="0"/>
			<!-- taxlot open deal broker fees -->
			<xsd:element name="OpenBrokerFees" type="xsd:double" minOccurs="0"/>
			<!-- taxlot open deal counterparty fees -->
			<xsd:element name="OpenCounterpartyFees" type="xsd:double" minOccurs="0"/>							
			<!--Realized without RealizedAmortisingAmount-->
			<xsd:element name="Realized" type="xsd:double"/>
			<xsd:element name="MarketFees" type="xsd:double" minOccurs="0"/>
			<xsd:element name="BrokerFees" type="xsd:double" minOccurs="0"/>
			<xsd:element name="CounterpartyFees" type="xsd:double" minOccurs="0"/>									
			<xsd:element name="RealizedAmortisingAmount" type="xsd:double" minOccurs="0"/>									
			<xsd:element name="RealizedAccruedAmount" type="xsd:double" minOccurs="0"/>
			<!--static ytm parameters-->
			<xsd:element name="StaticYTM" type="xsd:double" minOccurs="0"/>		
			<!-- taxlot capitalisation reserve-->
			<xsd:element name="CapitalizationReserve" type="xsd:double" minOccurs="0"/>
			<!--forced amortising parameters-->
			<xsd:element name="ForcedValues" type="tns:ForcedValues" minOccurs="0"/>	
			<xsd:element name="ProvisionValues" type="tns:ProvisionInfo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionInfos">
		<xsd:sequence>
			<xsd:element name="longShortIndicator" type="pos:LongShortIndicator" minOccurs="0"/>
			<xsd:element name="positionType" type="pos:PositionType"/>
			<xsd:element name="quantity" type="xsd:double" minOccurs="0"/>
			<xsd:element name="quantityType" type="pos:QuantityType" minOccurs="0"/>
			<xsd:element name="averagePrice" type="xsd:double" minOccurs="0"/>
			<xsd:element name="averagePriceType" type="pos:AveragePriceType" minOccurs="0"/>
			<xsd:element name="cashBalance" type="xsd:double" minOccurs="0"/>
			<xsd:element name="realized" type="xsd:double" minOccurs="0"/>
			<xsd:element name="income" type="xsd:double" minOccurs="0"/>
			<xsd:element name="financing" type="xsd:double" minOccurs="0"/>
			<xsd:element name="treasury" type="xsd:double" minOccurs="0"/>
			<xsd:element name="taxcredit" type="xsd:double" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
