java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/compliance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.sophis.net/compliance" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:sph="http://www.sophis.net/compliance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://www.sophis.net/compliance" >
  <xsd:element name="compliance" type="sph:Compliance" />
  <xsd:complexType name="Compliance">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Data for compliance reports generated by Reporting Module. A compliance report is organized by compliance sessions. Then each compliance session contains report lines for each checked compliance rule. A compliance session generates a report line per rule.
A compliance rule is a set of limits that shall be checked on a list of portfolio indicators.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="reportSettings" type="sph:ReportSettings" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="session" type="sph:Session" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BoundedRelativeDates">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This is a field of ReportSettings.
It specifies relative date range of compliance sessions that must included in the generated report.</xsd:documentation>
    </xsd:annotation>
	<xsd:attribute name="begin" type="xsd:normalizedString" use="required" />
	<xsd:attribute name="end" type="xsd:normalizedString" use="required" />
  </xsd:complexType> 
  <xsd:complexType name="BoundedAbsoluteDates">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">This is a field of ReportSettings.
It specifies absolute date range of compliance sessions that must included in the generated report.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="begin" type="xsd:string" use="required" />
    <xsd:attribute name="end" type="xsd:string" use="required" />
  </xsd:complexType> 
  <xsd:complexType name="ReportSettings">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Search criteria of compliance sessions to be included in the generated report: Dates (relative or absolute), session groups, sessions, entry points, rule lists, status lists.</xsd:documentation>
    </xsd:annotation>
	<xsd:sequence>
      <xsd:element name="sessionGroupList" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="sessionList" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="entryPointList" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="ruleList" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="statusList" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="detailedPositions" type="xsd:normalizedString" minOccurs="0" />
      <xsd:element name="boundedAbsoluteDates" type="tns:BoundedAbsoluteDates" minOccurs="0" />
      <xsd:element name="boundedRelativeDates" type="tns:BoundedRelativeDates" minOccurs="0" />
    </xsd:sequence>
	<xsd:attribute name="UTC-offset" type="xsd:normalizedString" use="required" />
  </xsd:complexType>
  <xsd:complexType name="Session">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A compliance session is an execution of compliance checks on specified perimeter of compliance portfolios.
It contains a report for each checked rule of the perimeter. A session is identified by an ID and a name. A session can be either run manually by user or run within compliance scheduler.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="report" type="tns:Report" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="sessionId" type="xsd:normalizedString"  />
	<xsd:attribute name="name" type="xsd:normalizedString" use="required" />
	<xsd:attribute name="group" type="xsd:normalizedString" />
	<xsd:attribute name="ruleCount" type="xsd:normalizedString"  />
	<xsd:attribute name="status" type="xsd:normalizedString"  />
	<xsd:attribute name="breaches" type="xsd:normalizedString"  />
	<xsd:attribute name="errors" type="xsd:normalizedString"  />
	<xsd:attribute name="notifs" type="xsd:normalizedString"  />
	<xsd:attribute name="user" type="xsd:normalizedString"  />
	
  </xsd:complexType>
  <xsd:complexType name="Report">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A compliance report is the result of execution of a compliance session on a compliance rule. When a compliance session is executed, it will generate a compliance report by checked rule. The checks will be performed upon all compliance portfolios assigned (directly or indirectly) to the rule. A compliance report is identified by an ID, rule ID, rule name, status and the checked indicator. The report contains a list of report lines for each checked position.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="reportLine" type="tns:ReportLine" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="ruleId" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="ruleName" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="ruleBreakDowns" type="xsd:normalizedString" />
    <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="breaches" type="xsd:normalizedString" />
    <xsd:attribute name="errors" type="xsd:normalizedString" />
    <xsd:attribute name="notifs" type="xsd:normalizedString" />
    <xsd:attribute name="date" type="xsd:date" use="required" />
    <xsd:attribute name="entryPoint" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="entryPointId" type="xsd:normalizedString" use="required" /> 
  </xsd:complexType>

  <xsd:complexType name="LimitsMinMax">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A compliance rule defines several limits. LimitsMinMax is the rule's maximum and minimum thresholds to be checked.  In addition the thresholds, it defines a warning limits which will generate a warning alert when reached.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="maxlimit" type="xsd:normalizedString" />
    <xsd:attribute name="maxwarninglimit" type="xsd:normalizedString" />
    <xsd:attribute name="minlimit" type="xsd:normalizedString" />
    <xsd:attribute name="minwarninglimit" type="xsd:normalizedString" />
    <xsd:attribute name="minnotificationlimit" type="xsd:normalizedString" />
    <xsd:attribute name="maxnotificationlimit" type="xsd:normalizedString" />
  </xsd:complexType>
  
  <xsd:complexType name="Positions">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Positions matching criteria of a compliance rule.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="position" type="tns:Position" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Position">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A position of compliance portfolio checked during the session execution.</xsd:documentation>
    </xsd:annotation>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"  name="indicator" type="tns:Indicator" />
      <xsd:element maxOccurs="unbounded" minOccurs="0"  name="explanatory" type="tns:Explanory" />
    </xsd:sequence>
    <xsd:attribute name="instrumentName" type="xsd:normalizedString" />
    <xsd:attribute name="instrumentId" type="xsd:normalizedString" />
  </xsd:complexType>
  <xsd:complexType name="ReportLine">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Result of a compliance rule check on an assigned portfolio.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"  name="indicator" type="tns:Indicator" />
      <xsd:element maxOccurs="unbounded" minOccurs="0"  name="explanatory" type="tns:Explanory" />
      <xsd:element name="limitsMinMax" type="tns:LimitsMinMax" minOccurs="0"  />
      <xsd:element minOccurs="0" name="positions" type="tns:Positions" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:normalizedString" use="required" />
    <xsd:attribute name="breakDowns" type="xsd:normalizedString" />
    <xsd:attribute name="status" type="xsd:normalizedString" use="required" />
  </xsd:complexType>
  
  
  <xsd:complexType name="Indicator" mixed="true"> 
     <xsd:attribute name="name" type="xsd:normalizedString" use="required" /> 
	 <xsd:attribute name="value" type="xsd:normalizedString" /> 
  </xsd:complexType>
  
  <xsd:complexType name="Explanory" mixed="true"> 
     <xsd:attribute name="name" type="xsd:normalizedString" use="required" /> 
	 <xsd:attribute name="value" type="xsd:normalizedString" /> 
  </xsd:complexType>
</xsd:schema>
