java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/errorControlService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="errorControlService" targetNamespace="http://errorControl.soa.sophis.net" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapwsdl="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://errorControl.soa.sophis.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<wsdl:types>

		<xsd:schema targetNamespace="http://sophis.net/sophis/common">
			<xsd:include schemaLocation="common.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/party">
			<xsd:include schemaLocation="party.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/ExoticMask">
			<xsd:include schemaLocation="ClauseBuilderExoticMask.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/Instrument">
			<xsd:include schemaLocation="instrument.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/folio">
			<xsd:include schemaLocation="folio.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/trade">
			<xsd:include schemaLocation="trade.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/user">
			<xsd:include schemaLocation="user.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/reporting">
			<xsd:include schemaLocation="Reporting.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/preferences">
			<xsd:include schemaLocation="preferences.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/valuation">
			<xsd:include schemaLocation="Valuation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/scenario">
			<xsd:include schemaLocation="scenario.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/history">
			<xsd:include schemaLocation="history.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/otc_message">
			<xsd:include schemaLocation="otc_message.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/sr">
			<xsd:include schemaLocation="sr.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/reconciliation">
			<xsd:include schemaLocation="reconciliation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/fund">
			<xsd:include schemaLocation="fund.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/quotation">
			<xsd:include schemaLocation="quotation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/sophis">
			<xsd:include schemaLocation="sophis.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.w3.org/2000/09/xmldsig#">
			<xsd:include schemaLocation="xmldsig-core-schema.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.fpml.org/2005/FpML-4-2">
			<xsd:include schemaLocation="fpml-msg-4-2-extract.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sophis.net/sophis/gxml/dataExchange">
			<xsd:include schemaLocation="dataExchange.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sophis.net/sophis/alert">
			<xsd:include schemaLocation="alertRepository.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/market_data">
			<xsd:include schemaLocation="MarketData.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/correlation">
			<xsd:include schemaLocation="correlation.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/CreditRisk">
			<xsd:include schemaLocation="CreditRiskData.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/volatility">
			<xsd:include schemaLocation="volatility.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/dividend">
			<xsd:include schemaLocation="dividend.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/yieldCurve">
			<xsd:include schemaLocation="YieldCurve.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/repo_margin">
			<xsd:include schemaLocation="repo_margin.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/authentication">
			<xsd:include schemaLocation="authUtil.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/accountingposition">
			<xsd:include schemaLocation="accountingposition.xsd"/>
		</xsd:schema>
		
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://errorControl.soa.sophis.net" xmlns:authUtil="http://www.sophis.net/authentication" xmlns:common="http://sophis.net/sophis/common" xmlns:dataExch="http://sophis.net/sophis/gxml/dataExchange" xmlns:folio="http://www.sophis.net/folio" xmlns:fpml="http://www.fpml.org/2005/FpML-4-2" xmlns:instrument="http://www.sophis.net/Instrument" xmlns:party="http://www.sophis.net/party" xmlns:sophis="http://www.sophis.net/sophis" xmlns:trade="http://www.sophis.net/trade" xmlns:user="http://www.sophis.net/user" xmlns:valuation="http://www.sophis.net/valuation">

			<xsd:import namespace="http://sophis.net/sophis/common" schemaLocation="common.xsd"/>
			<xsd:import namespace="http://www.sophis.net/ExoticMask" schemaLocation="ClauseBuilderExoticMask.xsd"/>
			<xsd:import namespace="http://www.sophis.net/Instrument" schemaLocation="instrument.xsd"/>
			<xsd:import namespace="http://www.sophis.net/party" schemaLocation="party.xsd"/>
			<xsd:import namespace="http://www.sophis.net/folio" schemaLocation="folio.xsd"/>
			<xsd:import namespace="http://www.sophis.net/trade" schemaLocation="trade.xsd"/>
			<xsd:import namespace="http://www.sophis.net/user" schemaLocation="user.xsd"/>
			<xsd:import namespace="http://www.sophis.net/valuation" schemaLocation="Valuation.xsd"/>
			<xsd:import namespace="http://www.sophis.net/sophis" schemaLocation="sophis.xsd"/>
			<xsd:import namespace="http://www.sophis.net/otc_message" schemaLocation="otc_message.xsd"/>
			<xsd:import namespace="http://www.sophis.net/sr" schemaLocation="sr.xsd"/>
			<xsd:import namespace="http://www.sophis.net/fund" schemaLocation="fund.xsd"/>
			<xsd:import namespace="http://www.sophis.net/history" schemaLocation="history.xsd"/>
			<xsd:import namespace="http://www.sophis.net/reconciliation" schemaLocation="reconciliation.xsd"/>
			<xsd:import namespace="http://www.sophis.net/market_data" schemaLocation="MarketData.xsd"/>
			<xsd:import namespace="http://www.sophis.net/correlation" schemaLocation="correlation.xsd"/>
			<xsd:import namespace="http://www.sophis.net/volatility" schemaLocation="volatility.xsd"/>
			<xsd:import namespace="http://www.sophis.net/dividend" schemaLocation="dividend.xsd"/>
			<xsd:import namespace="http://www.sophis.net/yieldCurve" schemaLocation="YieldCurve.xsd"/>
			<xsd:import namespace="http://www.sophis.net/CreditRisk" schemaLocation="CreditRiskData.xsd"/>
			<xsd:import namespace="http://www.sophis.net/repo_margin" schemaLocation="repo_margin.xsd"/>
			<xsd:import namespace="http://www.fpml.org/2005/FpML-4-2" schemaLocation="fpml-msg-4-2-extract.xsd"/>
			<xsd:import namespace="http://sophis.net/sophis/gxml/dataExchange" schemaLocation="dataExchange.xsd"/>
			<xsd:import namespace="http://www.sophis.net/authentication" schemaLocation="authUtil.xsd"/>
			
			<xsd:simpleType name="ErrorCode">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">
							0 	= success
							1 	= not logged in
							2 	= already logged id
							3 	= no license available
							4 	= error control error
							5	= other error; a reason is provided
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SUCCESS"/>
					<xsd:enumeration value="NOTLOGGEDIN"/>
					<xsd:enumeration value="ALREADYLOGGED"/>
					<xsd:enumeration value="NOLICENSE"/>
					<xsd:enumeration value="ERRORCONTROLERROR"/>
					<xsd:enumeration value="MISC"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="code" type="tns:ErrorCode"/>
					<xsd:element minOccurs="0" name="reason" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">defined only if errorCode=3</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ImportEntities">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element ref="dataExch:import"/>
					<xsd:element name="messageIdRMA" type="xsd:int"/>
					<xsd:element name="messageDateRMA" type="xsd:int"/>
					<xsd:element name="sourceIdRMA" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="importEntities" type="tns:ImportEntities"/>
			
			<xsd:complexType name="ImportEntitiesResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="dataExch:message"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="importEntitiesResponse" type="tns:ImportEntitiesResponse"/>

			<xsd:complexType name="ProcessEntitiesRaw">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element name="message" type="xsd:string"/>
					<xsd:element name="messageIdRMA" type="xsd:int"/>
					<xsd:element name="messageDateRMA" type="xsd:int"/>
					<xsd:element name="sourceIdRMA" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="processEntitiesRaw" type="tns:ProcessEntitiesRaw"/>

			<xsd:complexType name="ProcessEntitiesRawResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="response" type="xsd:string"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="processEntitiesRawResponse" type="tns:ProcessEntitiesRawResponse"/>

			<xsd:complexType name="Login">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="authUtil:property"/>
					<xsd:element default="false" name="forceLogin" type="xsd:boolean">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">if force="true" and user already logged, reinit the session for this caller</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="login" type="tns:Login"/>

			<xsd:complexType name="LoginResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="authUtil:token"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="loginResponse" type="tns:LoginResponse"/>

			<xsd:complexType name="Logout">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="authUtil:property"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="logout" type="tns:Logout"/>

			<xsd:complexType name="LogoutResponse">
				<xsd:sequence>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="logoutResponse" type="tns:LogoutResponse"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="processEntitiesRawRequest">
		<wsdl:part element="tns:processEntitiesRaw" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="processEntitiesRawResponse">
		<wsdl:part element="tns:processEntitiesRawResponse" name="parametersResponse"/>
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part element="tns:login" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginResponse" name="parametersResponse"/>
	</wsdl:message>

	<wsdl:message name="logoutRequest">
		<wsdl:part element="tns:logout" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="logoutResponse">
		<wsdl:part element="tns:logoutResponse" name="parametersResponse"/>
	</wsdl:message>

	<wsdl:message name="importEntitiesRequest">
		<wsdl:part element="tns:importEntities" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="importEntitiesResponse">
		<wsdl:part element="tns:importEntitiesResponse" name="parametersResponse"/>
	</wsdl:message>

	<wsdl:portType name="ErrorControlService">
		<wsdl:operation name="importEntities">
			<wsdl:input message="tns:importEntitiesRequest"/>
			<wsdl:output message="tns:importEntitiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="processEntitiesRaw">
			<wsdl:input message="tns:processEntitiesRawRequest"/>
			<wsdl:output message="tns:processEntitiesRawResponse"/>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:loginRequest"/>
			<wsdl:output message="tns:loginResponse"/>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdl:input message="tns:logoutRequest"/>
			<wsdl:output message="tns:logoutResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ErrorControlServiceSOAP" type="tns:ErrorControlService">
		<soapwsdl:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="importEntities">
			<soapwsdl:operation soapAction="http://errorControl.soa.sophis.net/importEntities"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="processEntitiesRaw">
			<soapwsdl:operation soapAction="http://errorControl.soa.sophis.net/processEntitiesRaw"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soapwsdl:operation soapAction="http://errorControl.soa.sophis.net/login"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<soapwsdl:operation soapAction="http://errorControl.soa.sophis.net/logout"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ErrorControlService">

		<wsdl:port binding="tns:ErrorControlServiceSOAP" name="ErrorControlServicePort">
			<soapwsdl:address location="http://localhost:9080/ErrorControlWsHttpRouter/ErrorControlServicePort"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>