java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/folio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="qualified" targetNamespace="http://www.sophis.net/folio" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:common="http://sophis.net/sophis/common" xmlns:tns="http://www.sophis.net/folio" xmlns:instrument="http://www.sophis.net/Instrument" xmlns:party="http://www.sophis.net/party" xmlns:trade="http://www.sophis.net/trade" xmlns:tag="http://www.sophis.net/Tag" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation source="http://www.sophis.net" xml:lang="en">supported portfolioNameScheme are:
		"http://www.sophis.net/folio/portfolioName/id" : Sophis internal folio identifier
		"http://www.sophis.net/folio/portfolioName/name" : portfolio name
		"http://www.sophis.net/folio/portfolioName/fullName" : portfolio fullName</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://sophis.net/sophis/common" schemaLocation="common.xsd" />
  <xs:import namespace="http://www.sophis.net/Instrument" schemaLocation="instrument.xsd" />
  <xs:import namespace="http://www.sophis.net/party" schemaLocation="party.xsd" />
  <xs:import namespace="http://www.sophis.net/trade" schemaLocation="trade.xsd" />
  <xs:import namespace="http://www.sophis.net/Tag" schemaLocation="Tag.xsd" />
  <xs:element name="userComment" type="trade:UserComment" />
  <xs:complexType name="Portfolio">
    <xs:annotation>
      <xs:documentation source="http://www.FpML.org" xml:lang="en">A type representing an arbitrary grouping of trade references.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="portfolioName" type="tns:PortfolioName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="http://www.FpML.org" xml:lang="en">The name of the portfolio together 
					with the party that gave the name.</xs:documentation>
          <xs:documentation source="http://www.sophis.net" xml:lang="en">Removed the 'party' from the portfolio name 
					since it was contradictory with hereafter 'tradeId' and (sub)'portfolio' which were not 
					bound to a side.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tradeId" type="trade:TradeId" minOccurs="0" maxOccurs="unbounded" />
      <xs:element ref="tns:portfolio" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="http://www.FpML.org" xml:lang="en">An arbitrary grouping of trade references (and possibly other portfolios).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional" />
    <xs:attribute name="href" type="xs:IDREF" use="optional" />
    <xs:attributeGroup ref="common:PersistentEntity.model" />
  </xs:complexType>
  <xs:element name="portfolio" type="tns:Portfolio" />
  <xs:complexType name="PortfolioName">
    <xs:annotation>
      <xs:documentation source="http://www.FpML.org" xml:lang="en">The data type used for portfolio names.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="id" type="xs:ID" use="optional" />
        <xs:attribute name="portfolioNameScheme" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PartyPortfolioName">
    <xs:annotation>
      <xs:documentation source="http://www.FpML.org" xml:lang="en">A type to represent a portfolio name 
			for a particular party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="partyReference" type="party:PartyReference" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="http://www.FpML.org" xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced has allocated the trade identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="portfolioName" type="tns:PortfolioName" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional" />
  </xs:complexType>
  <xs:complexType name="ExtendedFolio">
    <xs:annotation>
      <xs:documentation xml:lang="en">A portfolio and some optional information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Portfolio">
        <xs:sequence>
          <xs:element name="description" type="tns:FolioDescription" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="extendedFolio" type="tns:ExtendedFolio" substitutionGroup="tns:portfolio" />
  <xs:complexType name="FolioDescription">
    <xs:annotation>
      <xs:documentation xml:lang="en">Optional informations about the portfolio, such as the currency to use for P&amp;L consolidation, or default entity for the trades.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="tns:FolioType" minOccurs="0" default="Folio" />
      <xs:element name="defaultEntity" type="party:PartyReference" minOccurs="0" />
      <xs:element name="underlyer" type="instrument:Underlyer" minOccurs="1" />
      <xs:element name="currency" type="instrument:Currency" minOccurs="0" />
      <xs:element name="comment" type="xs:string" minOccurs="0" />
	  <xs:element minOccurs="0" name="tags" type="tag:Tags">
        <xs:annotation>
			<xs:documentation xml:lang="en">Since 7.1.0 : contains all tags applied to the folio </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extraFields" type="common:ExtraFields" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FolioType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Different types of portfolio as described in the Sophis Documentation.
Basket: It uses the technical "Portfolio" structure but it does not really represent a list of trades and it is actually a Basket.
Locked: EOD reporting will be stored only at the level of portfolios which are "Locked".
Closed: Informative flag about a portfolio, defined by the user.

</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Folio" />
      <xs:enumeration value="Basket" />
      <xs:enumeration value="LockedFolio" />
      <xs:enumeration value="LockedBasket" />
      <xs:enumeration value="ClosedFolio" />
      <xs:enumeration value="ClosedBasket" />
      <xs:enumeration value="LockedAndClosedFolio" />
      <xs:enumeration value="LockedAndClosedBasket" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FolioReference">
    <xs:annotation>
      <xs:documentation source="http://www.sophis.net" xml:lang="en">A reference to a portfolio element within this document
			or a list of names defining this portfolio (all must match).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="portfolioName" type="tns:PortfolioName" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <!-- internal -->
    <xs:attribute name="ID" type="xs:ID" use="optional">
      <xs:annotation>
        <xs:documentation source="http://www.sophis.net" xml:lang="en">Internal, for gxml simplified soap.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="href" type="xs:IDREF" use="optional" />
  </xs:complexType>
  <xs:element name="folioReference" type="tns:FolioReference" />
  <xs:complexType name="IdentifierAllocationRule">
    <xs:complexContent>
      <xs:extension base="trade:AllocationRule">
        <xs:sequence>
          <xs:element name="folio" type="tns:FolioReference" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="identifierAllocationRule" type="tns:IdentifierAllocationRule" substitutionGroup="trade:allocationRule" />
  <!-- EXTRACTION TYPES : for XML Scenarios -->
  <xs:simpleType name="FilteredDealsEnum">
    <xs:annotation>
      <xs:documentation xml:lang="en">This type defines the different perimeter of portfolio(s) on which the Extraction filter can be applied.

'NotLoaded' is the default and it means that the filter applies only on the portfolio(s) which are already loaded in the current session of Sophis. 

'NoAccess' means that the filter applies to all portfolio(s) which are accessible to the user, according to its user-rights and entry point. It includes deals from both loaded and unloaded portfolio(s).

'NoFilter' applies to all portfolio(s). It is used for global processes, for example to build the End-of-Year extraction(s).

Note that this type is also set when building the Extraction according to the 'includeAllPortfolios' attribute. 
When 'includeAllPortfolios' is true, the 'NoAccess' type is used.
When 'includeAllPortfolios' is false, the 'NotLoaded' type is used.
</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotLoaded" />
      <xs:enumeration value="NoAccess" />
      <xs:enumeration value="NoFilter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Extraction">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type representing a portfolio obtained by querying the set of trades held in a repository. It contains trades matching the filter.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="filteredDeals" type="tns:FilteredDealsEnum" />
      <xs:element name="sqlFilter" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="extraction" type="tns:Extraction" /><xs:complexType name="Standard">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of extraction where all positions in the loaded portfolios are extracted and grouped by porfolio.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="standard" type="tns:Standard" substitutionGroup="tns:extraction" />
  <xs:complexType name="Collateral">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of extraction where positions are extracted based on the Counterparty, Entity and Convention criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="collateral" type="tns:Collateral" substitutionGroup="tns:extraction" />
  <xs:complexType name="Counterpart">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of extraction where positions are extracted based on the counterparty of the deal.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="counterpart" type="tns:Counterpart" substitutionGroup="tns:extraction" />
  <xs:complexType name="GlobalCurrency">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of extraction where positions are extracted based on the default currency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="globalCurrency" type="tns:GlobalCurrency" substitutionGroup="tns:extraction" />
  <xs:complexType name="Criteria">
    <xs:annotation>
      <xs:documentation xml:lang="en">A special type of extraction in which the trades can be consolidated hierarchically by different criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction">
        <xs:sequence>
          <xs:element name="criteriumList" type="tns:CriteriumList" />
          <xs:element name="folders" type="tns:Folders" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteria" type="tns:Criteria" substitutionGroup="tns:extraction" />
  <xs:complexType name="BoCriteria">
    <xs:annotation>
      <xs:documentation xml:lang="en">A special type of extraction in which the trades can be consolidated hierarchically by different criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Extraction">
        <xs:sequence>
          <xs:element name="criteriumList" type="tns:CriteriumList" />
          <xs:element name="folders" type="tns:Folders" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CriteriumList">
    <xs:annotation>
      <xs:documentation xml:lang="en">The list of Criterium that will be used to consolidated the trades hierarchically. The first criterium of the list is the top-level.
'KeepPositionID' means that trades from different positions will not be merged during the consolidation. In this case, it is possible to identify the original position id for each line.
'includeAllPortfolios' gives a possibility to query all trades of the repository, even those which have not been loaded in the current session of the application.
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="criterium" type="xs:normalizedString" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="filterUndefined" use="required" type="xs:boolean" />
    <xs:attribute name="hierarchic" use="required" type="xs:boolean" />
    <xs:attribute name="keepPositionID" use="required" type="xs:boolean" />
    <xs:attribute name="lookthrough" use="optional" type="xs:long" />
    <xs:attribute name="unique" use="required" type="xs:boolean" />
    <xs:attribute name="includeAllPortfolios" use="optional" type="xs:boolean" />
    <xs:attribute name="fillCashAccounts" use="optional" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="criteriumList" type="tns:CriteriumList" />
  <xs:complexType name="Folders">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type representing the list of portfolios in which the query of the extraction will be applied.
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="folder" type="tns:PortfolioForScenario" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="excludeEntryPoint" use="required" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="folders" type="tns:Folders" />
  <xs:complexType name="Criterium">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type representing an extraction criteria which can be used for consolidation or for filtering.
</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:element name="criterium" type="tns:Criterium" />
  <xs:complexType name="CriteriaLong">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on a number of type 'int'.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:attribute name="id" use="required" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaLong" type="tns:CriteriaLong" />
  <xs:complexType name="CriteriaBucket">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on buckets, represented by strings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:attribute name="bucket" type="xs:string" use="optional" />
        <xs:attribute name="id" type="xs:int" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaBucket" type="tns:CriteriaBucket" />
  <xs:complexType name="CriteriaParty">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on Thirdparties (Entity, Counterparty, Depositary)
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element ref="party:partyId" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaParty" type="tns:CriteriaParty" />
  <xs:complexType name="CriteriaCurrency">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on currencies.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element name="currency" type="instrument:Currency" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaCurrency" type="tns:CriteriaCurrency" />
  <xs:complexType name="CriteriaAllotment">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on Allotments.
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element name="allotment" type="xs:normalizedString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaAllotment" type="tns:CriteriaAllotment" />

  <xs:complexType name="CriteriaAllotmentGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on Allotment groups.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element name="allotmentGroup" type="xs:normalizedString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CriteriaSector">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on Business Sectors.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:choice maxOccurs="2">
            <xs:element name="code" type="instrument:StringBounded9" />
            <xs:element name="name" type="common:StringBounded39" />
          </xs:choice>
          <xs:element name="path" type="xs:normalizedString" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="provider" type="common:StringBounded39" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaSector" type="tns:CriteriaSector" />

  <xs:complexType name="CriteriaRating">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on Ratings.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element name="name" type="common:StringBounded40" />
          <xs:element name="sourcename" type="common:StringBounded40" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="criteriaRating" type="tns:CriteriaRating" />
  
  <xs:complexType name="CriteriaIdentifier">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of criteria which will be based on a number of type 'int'.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:group ref="instrument:IdentifierGroup" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:element name="criteriaIdentifier" type="tns:CriteriaIdentifier" />
  
  <xs:complexType name="CriteriaInstrumentCurrency">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:Criterium">
        <xs:sequence>
          <xs:element name="currency" type="instrument:Currency" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>  
  <xs:element name="criteriaInstrumentCurrency" type="tns:CriteriaInstrumentCurrency" />  

  <!-- Portfolio Types for XML Scenarios -->
  <xs:complexType name="PortfolioForScenario">
    <xs:annotation>
      <xs:documentation xml:lang="en">Type representing a list of instruments that will be used to describe a list of risk sources in Sophis risk analysis.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="underlyer" type="instrument:Identifier" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CriteriaPortfolio">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type of perimeter on which a risk analysis can be applied. This perimeter is defined by an extraction and risk sources.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:PortfolioForScenario">
        <xs:sequence>
          <xs:element name="criteria" type="tns:Criterium" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StandardPortfolio">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of perimeter for risk analysis which is based on an extraction of type 'Standard'
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:PortfolioForScenario">
        <xs:sequence>
          <xs:element name="portfolioName" type="tns:PortfolioName" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="id" type="xs:int" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CollateralPortfolio">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of perimeter for risk analysis which is based on an extraction of type 'Collateral'
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:CriteriaPortfolio" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GlobalCurrencyPortfolio">
    <xs:annotation>
      <xs:documentation xml:lang="en">A specific type of perimeter for risk analysis which is based on an extraction of type 'GlobalCurrency'
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tns:StandardPortfolio" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Position">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type representing a short definition of a 'Position' which can be used to represent the results of risk analysis. The position is here identified by the instrument and the type of calculation (such as arbitrage, etc.). It corresponds to the 'Flat View' identification of positions in previous versions of Sophis.
This type is now deprecated.
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0" />
      <xs:element name="underlyer" type="instrument:Identifier" />
      <xs:element name="type" type="xs:int" minOccurs="0" />
      <xs:element name="instrumentCount" type="xs:decimal" />
      <xs:element name="value" type="tns:Value" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="position" type="tns:Position" />
  <xs:complexType name="Value">
    <xs:annotation>
      <xs:documentation xml:lang="en">A type which is used to represent to results of risk analysis by as double-precision numbers/amounts, the currency of the amount, and a period definition (for example in case of a time-sensitivity)
</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" use="required" type="xs:NCName" />
        <xs:attribute name="periodEnum" use="required" type="xs:NCName" />
        <xs:attribute name="periodMultiplier" use="required" type="xs:integer" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="PositionTypeEnum">
    <xs:annotation>
      <xs:documentation source="http://www.sophis.net" xml:lang="en">The Type of Position.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Blocked" />
      <xs:enumeration value="Arbitrage" />
      <xs:enumeration value="Lended" />
      <xs:enumeration value="Simulation" />
      <xs:enumeration value="Basket" />
      <xs:enumeration value="Brokerage" />
      <xs:enumeration value="VirtualForex" />
      <xs:enumeration value="SimulatedVirtualForex" />
      <xs:enumeration value="UseTheoretical" />
      <xs:enumeration value="UseLast" />
      <xs:enumeration value="UseArbitrage" />
      <xs:enumeration value="UseTheoreticalSimulation" />
      <xs:enumeration value="UseLastSimulation" />
      <xs:enumeration value="UseArbitrageSimulation" />
      <xs:enumeration value="SecurityLoan" />
      <xs:enumeration value="ContractForDifference" />
      <xs:enumeration value="VirtualMarginCall" />
    </xs:restriction>
  </xs:simpleType><xs:simpleType name="PositionType">
    <xs:union memberTypes="xs:int tns:PositionTypeEnum" />
  </xs:simpleType>
  <xs:simpleType name="CashFlowTypeEnum">
    <xs:annotation>
      <xs:documentation source="http://www.sophis.net" xml:lang="en">The Type of Cash Flow.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Deals" />
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Floating" />
      <xs:enumeration value="Exercice" />
      <xs:enumeration value="Position" />
      <xs:enumeration value="Default" />
      <xs:enumeration value="Counterparty Fees" />
      <xs:enumeration value="Broker Fees" />
      <xs:enumeration value="Market Fees" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CashFlowType">
    <xs:union memberTypes="xs:int tns:CashFlowTypeEnum" />
  </xs:simpleType>
  <xs:simpleType name="CashFlowSourceEnum">
    <xs:annotation>
      <xs:documentation source="http://www.sophis.net" xml:lang="en">The Source of Cash Flow.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Instrument" />
      <xs:enumeration value="Certain" />
      <xs:enumeration value="Uncertain" />
      <xs:enumeration value="Ticket" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CashFlowSource">
    <xs:union memberTypes="xs:int tns:CashFlowSourceEnum" />
  </xs:simpleType>
  <xs:complexType name="CashFlowKey">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow key</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fundId" type="xs:int" />
      <xs:element name="strategyId" type="xs:int" />
      <xs:element name="currency" type="instrument:Currency" />
      <xs:sequence minOccurs="0">
        <xs:element name="portfolioIndex" type="xs:int" />
        <xs:element name="folio" type="tns:Portfolio" />
      </xs:sequence>
      <xs:sequence minOccurs="0">
        <xs:element ref="trade:positionIdentifier" />
        <xs:element name="positionType" type="tns:PositionType" />
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowDetail">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow detail</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xsd:element name="payerPartyReference" type="party:PartyReference">
        <xsd:annotation>
          <xsd:documentation source="http://www.FpML.org" xml:lang="en">
            A reference to the party responsible for
            making the payments defined by this structure.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="receiverPartyReference" type="party:PartyReference">
        <xsd:annotation>
          <xsd:documentation source="http://www.FpML.org" xml:lang="en">
            A reference to the party that receives
            the payments corresponding to this structure.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="cashFlowType" type="tns:CashFlowType" />
      <xs:element name="cashFlowSource" type="tns:CashFlowSource" />
      <xs:element name="businessEvent" type="xsd:normalizedString" minOccurs="0" />
      <xs:element name="instrument" type="instrument:IdentifiedIdentifier" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowAmount">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow amount</xs:documentation>
    </xs:annotation>
    <xs:sequence>      
      <xs:element name="date" type="xs:date" />
      <xs:element name="amount" type="xs:decimal" />
      <xs:element name="detail" type="tns:CashFlowDetail" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowData">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="data" type="tns:CashFlowAmount" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowsWithKey">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow report associated to a cash flow key</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="tns:CashFlowKey" />
      <xs:element name="cashFlows" type="tns:CashFlowData" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashFlowReport">
    <xs:annotation>
      <xs:documentation>A type containing a cash flow report</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="folio" type="tns:Portfolio" />
      <xs:element name="interestRateKey" type="tns:CashFlowKey" />
      <xs:element name="cashFlowsWithKey" type="tns:CashFlowsWithKey" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="currency" type="instrument:Currency" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="date" type="xs:date" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetailedCashBalance">
    <xs:annotation>
      <xs:documentation>A type containing a collection of cash balance reports</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="report" type="tns:CashFlowReport" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="instrument" type="instrument:IdentifiedIdentifier" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DetailedCashReport">
    <xs:annotation>
      <xs:documentation>A type containing a detailed cash balance report</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="detailedCashBalance" type="tns:DetailedCashBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detailedCashReport" type="tns:DetailedCashReport" />
  <xs:complexType name="DetailedCashReportExport">
    <xs:annotation>
      <xs:documentation>A type containing a detailed cash balance report export request</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="trade:positionIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="detailedCashReportExport" type="tns:DetailedCashReportExport" />
</xs:schema>