java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/fpml-msg-4-2-extract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified"
            targetNamespace="http://www.fpml.org/2005/FpML-4-2">
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>

	<!--	<xsd:include schemaLocation="fpml-doc-4-2.xsd"/> -->
	<!-- Types copied from fpml-doc -->
	<xsd:complexType abstract="true" name="Document">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The abstract base type from which all FpML compliant messages and documents must be derived.</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="StandardAttributes.atts"/>
	</xsd:complexType>
	<xsd:attributeGroup name="StandardAttributes.atts">
		<xsd:attribute name="version" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="4-0"/>
					<xsd:enumeration value="4-1"/>
					<xsd:enumeration value="4-2"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:complexType name="Validation">
		<xsd:attribute name="validationScheme" type="xsd:anyURI" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="PartyId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The data type used for party identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute default="http://www.fpml.org/ext/iso9362" name="partyIdScheme" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:group name="Validation.model">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="validation" type="Validation"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:simpleType name="ValidationRuleId">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<!-- End of types copied -->

	<xsd:complexType name="AdditionalData">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="additionalDataScheme" type="xsd:anyURI" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ConversationId">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="conversationIdScheme" type="xsd:anyURI" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AlertProcessingData">
		<xsd:sequence>
  			<xsd:element name="alertId" type="xsd:int"/>
			<xsd:element name="action_operator" type="xsd:string"/>
  			<xsd:element name="outputId" type="xsd:int"/>
			<xsd:element name="originalOutputChanged" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="errorMsg" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
					Output parameter. Specifies an error message if the action did not succeed.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="resultedAlertId" type="xsd:int" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
					Output parameter. Specifies the new created alerts if any.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forceIntegrity" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="errorReplay" type="xsd:boolean" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="Message">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the basic structure of all FpML messages which is refined by its derived types.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="Document">
				<xsd:sequence>
					<xsd:element name="header" type="MessageHeader" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The generic definition of header in the Message type contains all the possible header information items and is specialised by restriction in derived classes.</xsd:documentation>
							<xsd:documentation xml:lang="en" source="http://www.sophis.net">Since 5.3, the header is now optional.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="Validation.model"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageHeader">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content model for a generic message header that is refined by its derived classes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="conversationId" type="ConversationId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A unique identifier created by the initiator of a conversation allowing a group of message exchanges to be recognized as related.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="messageId" type="MessageId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A unique identifier (within its coding scheme) assigned to the message by its creating party.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="inReplyTo" type="MessageId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A copy of the unique message identifier (within it own coding scheme) to which this message is responding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="sentBy" type="PartyId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The unique identifier (within its coding scheme) for the originator of a message instance.</xsd:documentation>
					<xsd:documentation xml:lang="en" source="http://www.sophis.net">Since 5.3, the sentBy element is optional.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="sendTo" type="PartyId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A unique identifier (within its coding scheme) indicating an intended recipent of a message.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="copyTo" type="PartyId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A unique identifier (within the specified coding scheme) giving the details of some party to whom a copy of this message will be sent for reference.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creationTimestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The date and time (on the source system) when this message instance was created.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="expiryTimestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The date and time (on the source system) when this message instance will be considered expired.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dsig:Signature"/>
			<xsd:element name="alertProcessingData" type="AlertProcessingData" minOccurs="0"/>
			<xsd:element name="xsiRet" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Specifies if the return messages should be described using xsi:type (true) or not (false);
						When missing, the format will be as specified by the configuration parameter Common/Xml/ForceExportXsiType
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The data type use for message identifiers.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="messageIdScheme" type="xsd:anyURI" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MessageRejected">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the content for a standard message sent when a recipient cannot interpret or process an earlier message.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="NotificationMessage">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" name="reason" type="Reason">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">An instance of the Reason type used to record the nature of any errors associated with a message.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="additionalData" type="AdditionalData">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Any string of additional data that may help the message processor, for example in a rejection message this might contain a code value or the text of the original request (within a CDATA section).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="NotificationMessage">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining the basic content for a message sent to inform another system that some 'business event' has occured. Notifications are not expected to be replied to.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="Message">
				<xsd:sequence>
					<xsd:element name="header" type="NotificationMessageHeader" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Overrides the definition of header in the Message type to make it specific to NotificationMessage instances.</xsd:documentation>
							<xsd:documentation xml:lang="en" source="http://www.sophis.net">Since 5.3, the header is now optional.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:group ref="Validation.model"/>
				</xsd:sequence>
				<xsd:attributeGroup ref="StandardAttributes.atts"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="NotificationMessageHeader">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type that refines the generic message header to match the requirements of a NotificationMessage.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:restriction base="MessageHeader">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="conversationId" type="ConversationId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A unique identifier created by the initiator of a conversation allowing a group of message exchanges to be recognized as related.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="messageId" type="MessageId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A unique identifier (within its coding scheme) assigned to the message by its creating party.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="inReplyTo" type="MessageId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A copy of the unique message identifier (within it own coding scheme) to which this message is responding.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sentBy" type="PartyId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The unique identifier (within its coding scheme) for the originator of a message instance.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="sendTo" type="PartyId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A unique identifier (within its coding scheme) indicating an intended recipent of a message.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="copyTo" type="PartyId">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A unique identifier (within the specified coding scheme) giving the details of some party to whom a copy of this message will be sent for reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="creationTimestamp" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date and time (on the source system) when this message instance was created.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element minOccurs="0" name="expiryTimestamp" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The date and time (on the source system) when this message instance will be considered expired.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="dsig:Signature"/>
					<xsd:element name="alertProcessingData" type="AlertProcessingData" minOccurs="0"/>
				</xsd:sequence>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Reason">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining a content model for describing the nature and possible location of a error within a previous message.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reasonCode" type="xsd:token">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A machine interpretable error code.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="location">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">An value indicating the location of the problem within the subject message.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="locationType" type="xsd:normalizedString"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" name="description" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Plain English text describing the associated error condition</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element minOccurs="0" name="validationRuleId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A reference identifying a rule within a validation scheme</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ValidationRuleId">
							<xsd:attribute name="validationScheme" type="xsd:anyURI"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="additionalData" type="AdditionalData">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Any string of additional data that may help the message processor, for example in a rejection message this might contain a code value or the text of any one of the messages (within a CDATA section).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>