java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/reportingService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ReportingService" targetNamespace="http://reportingService.soa.sophis.net" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapwsdl="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://reportingService.soa.sophis.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		
		<xsd:schema targetNamespace="http://www.sophis.net/reportingService">
			<xsd:include schemaLocation="ReportingService.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://sophis.net/sophis/common">
			<xsd:include schemaLocation="common.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/party">
			<xsd:include schemaLocation="party.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/ExoticMask">
			<xsd:include schemaLocation="ClauseBuilderExoticMask.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/Instrument">
			<xsd:include schemaLocation="instrument.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/folio">
			<xsd:include schemaLocation="folio.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/SSI">
			<xsd:include schemaLocation="ssi.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/NostroAccount">
			<xsd:include schemaLocation="NostroAccount.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/trade">
			<xsd:include schemaLocation="trade.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/user">
			<xsd:include schemaLocation="user.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/reporting">
			<xsd:include schemaLocation="Reporting.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/preferences">
			<xsd:include schemaLocation="preferences.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/valuation">
			<xsd:include schemaLocation="Valuation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/scenario">
			<xsd:include schemaLocation="scenario.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/history">
			<xsd:include schemaLocation="history.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/otc_message">
			<xsd:include schemaLocation="otc_message.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/sr">
			<xsd:include schemaLocation="sr.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/reconciliation">
			<xsd:include schemaLocation="reconciliation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/fund">
			<xsd:include schemaLocation="fund.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/amBenchmark">
			<xsd:include schemaLocation="amBenchmark.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/amBenchmarkComposition">
			<xsd:include schemaLocation="amBenchmarkComposition.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/quotation">
			<xsd:include schemaLocation="quotation.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.sophis.net/sophis">
			<xsd:include schemaLocation="sophis.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.w3.org/2000/09/xmldsig#">
			<xsd:include schemaLocation="xmldsig-core-schema.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.fpml.org/2005/FpML-4-2">
			<xsd:include schemaLocation="fpml-msg-4-2-extract.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/execution">
			<xsd:include schemaLocation="execution.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://sophis.net/sophis/gxml/dataExchange">
			<xsd:include schemaLocation="dataExchange.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://sophis.net/sophis/alert">
			<xsd:include schemaLocation="alertRepository.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/market_data">
			<xsd:include schemaLocation="MarketData.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/correlation">
			<xsd:include schemaLocation="correlation.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/CreditRisk">
			<xsd:include schemaLocation="CreditRiskData.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/CorporateActions">
			<xsd:include schemaLocation="CorporateActions.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/dividend">
			<xsd:include schemaLocation="dividend.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/volatility">
			<xsd:include schemaLocation="volatility.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/dividend">
			<xsd:include schemaLocation="dividend.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/yieldCurve">
			<xsd:include schemaLocation="YieldCurve.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/repo_margin">
			<xsd:include schemaLocation="repo_margin.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.fixprotocol.org/FIXML-4-4">
			<xsd:include schemaLocation="fixml-ordersSupported-4-4.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/authentication">
			<xsd:include schemaLocation="authUtil.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/listedmarket">
			<xsd:include schemaLocation="ListedMarket.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/position">
			<xsd:include schemaLocation="position.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/FactorModels">
			<xsd:include schemaLocation="FactorModelTypes.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/Tag">
			<xsd:include schemaLocation="Tag.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/NostroAccountReference">
			<xsd:include schemaLocation="NostroAccountReference.xsd"/>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.sophis.net/accountingposition">
			<xsd:include schemaLocation="accountingposition.xsd"/>
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.sophis.net/dailyData">
			<xsd:include schemaLocation="dailyData.xsd"/>
		</xsd:schema>
		
		<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://reportingService.soa.sophis.net" xmlns:authUtil="http://www.sophis.net/authentication" xmlns:reportService="http://www.sophis.net/reportingService">

			<xsd:import namespace="http://www.sophis.net/reportingService" schemaLocation="ReportingService.xsd"/>
			<xsd:import namespace="http://www.sophis.net/authentication" schemaLocation="authUtil.xsd"/>
			
			<xsd:simpleType name="ErrorCode">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">
							0 	= success
							1 	= not logged in
							2 	= already logged in
							3 	= no license available
							4 	= reporting service error
							5	= other error; a reason is provided</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="SUCCESS"/>
					<xsd:enumeration value="NOTLOGGEDIN"/>
					<xsd:enumeration value="ALREADYLOGGED"/>
					<xsd:enumeration value="NOLICENSE"/>
					<xsd:enumeration value="REPORTINGERROR"/>
					<xsd:enumeration value="MISC"/>
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="Error">
				<xsd:sequence>
					<xsd:element name="code" type="tns:ErrorCode"/>
					<xsd:element minOccurs="0" name="reason" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">defined only if errorCode=3</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetReport">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element ref="reportService:reportRequest"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getReportInput" type="tns:GetReport"/>
			
			<xsd:complexType name="GetReportResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="reportService:message"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getReportOutput" type="tns:GetReportResponse"/>

			<xsd:complexType name="GetReportsList">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element ref="reportService:reportsListRequest"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getReportsListInput" type="tns:GetReportsList"/>

			<xsd:complexType name="GetReportsListResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="reportService:message"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getReportsListOutput" type="tns:GetReportsListResponse"/>

			<xsd:complexType name="ProcessRaw">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element name="message" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="processRawInput" type="tns:ProcessRaw"/>

			<xsd:complexType name="ProcessRawResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="response" type="xsd:string"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="processRawOutput" type="tns:ProcessRawResponse"/>

			<xsd:complexType name="Login">
				<xsd:sequence>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="authUtil:property"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="loginInput" type="tns:Login"/>
			
			<xsd:complexType name="LoginResponse">
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="authUtil:token"/>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="loginOutput" type="tns:LoginResponse"/>

			<xsd:complexType name="Logout">
				<xsd:sequence>
					<xsd:element ref="authUtil:token"/>
					<xsd:element name="user" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" ref="authUtil:property"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="logoutInput" type="tns:Logout"/>

			<xsd:complexType name="LogoutResponse">
				<xsd:sequence>
					<xsd:element name="error" type="tns:Error"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="logoutOutput" type="tns:LogoutResponse"/>
		</xsd:schema>	
	</wsdl:types>

	<wsdl:message name="getReportRequest">
		<wsdl:part element="tns:getReportInput" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getReportResponse">
		<wsdl:part element="tns:getReportOutput" name="parametersResponse"/>
	</wsdl:message>
	<wsdl:message name="getReportsListRequest">
		<wsdl:part element="tns:getReportsListInput" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getReportsListResponse">
		<wsdl:part element="tns:getReportsListOutput" name="parametersResponse"/>
	</wsdl:message>
	<wsdl:message name="processRawRequest">
		<wsdl:part element="tns:processRawInput" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="processRawResponse">
		<wsdl:part element="tns:processRawOutput" name="parametersResponse"/>
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part element="tns:loginInput" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="tns:loginOutput" name="parametersResponse"/>
	</wsdl:message>
	<wsdl:message name="logoutRequest">
		<wsdl:part element="tns:logoutInput" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="logoutResponse">
		<wsdl:part element="tns:logoutOutput" name="parametersResponse"/>
	</wsdl:message>

	<wsdl:portType name="ReportingService">
		<wsdl:operation name="getReport">
			<wsdl:input message="tns:getReportRequest"/>
			<wsdl:output message="tns:getReportResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getReportsList">
			<wsdl:input message="tns:getReportsListRequest"/>
			<wsdl:output message="tns:getReportsListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="processRaw">
			<wsdl:input message="tns:processRawRequest"/>
			<wsdl:output message="tns:processRawResponse"/>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="tns:loginRequest"/>
			<wsdl:output message="tns:loginResponse"/>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<wsdl:input message="tns:logoutRequest"/>
			<wsdl:output message="tns:logoutResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ReportingServiceSOAP" type="tns:ReportingService">
		<soapwsdl:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getReport">
			<soapwsdl:operation soapAction="http://reportingService.soa.sophis.net/getReport"/>
         <wsdl:input>
            <soapwsdl:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soapwsdl:body use="literal"/>
         </wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getReportsList">
			<soapwsdl:operation soapAction="http://reportingService.soa.sophis.net/getReportsList"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="processRaw">
			<soapwsdl:operation soapAction="http://soaDesigner.sophis.net/processRaw"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soapwsdl:operation soapAction="http://reportingService.soa.sophis.net/login"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="logout">
			<soapwsdl:operation soapAction="http://reportingService.soa.sophis.net/logout"/>
			<wsdl:input>
				<soapwsdl:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soapwsdl:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ReportingService">
		<wsdl:port binding="tns:ReportingServiceSOAP" name="ReportingServicePort">
			<soapwsdl:address location="http://localhost:9080/ReportingWsHttpRouter/ReportingServicePort"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>