java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/Valuation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.sophis.net/valuation" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sophis.net/valuation" xmlns:reporting="http://www.sophis.net/reporting" xmlns:instrument="http://www.sophis.net/Instrument" xmlns:common="http://sophis.net/sophis/common" xmlns:pref="http://www.sophis.net/preferences" xmlns:folio="http://www.sophis.net/folio" xmlns:scenario="http://www.sophis.net/scenario">
	<xsd:import namespace="http://sophis.net/sophis/common" schemaLocation="common.xsd"/>
	<xsd:import namespace="http://www.sophis.net/reporting" schemaLocation="Reporting.xsd"/>
	<xsd:import namespace="http://www.sophis.net/Instrument" schemaLocation="instrument.xsd"/>
	<xsd:import namespace="http://www.sophis.net/preferences" schemaLocation="preferences.xsd" />
	<xsd:import namespace="http://www.sophis.net/folio" schemaLocation="folio.xsd" />
	<xsd:import namespace="http://www.sophis.net/scenario" schemaLocation="scenario.xsd" />
	<!-- Types -->
	<xsd:complexType name="ScenarioData" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Abstract (non-defined) container to allow for various scenario data types.</xsd:documentation>
    </xsd:annotation>
	</xsd:complexType>
	<xsd:element name="scenarioData" type="tns:ScenarioData"/>
	<xsd:simpleType name="ViewState">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines when the valuation is based on hierarchical position view, or underlying view, etc.</xsd:documentation>
    </xsd:annotation>
			<xsd:restriction base="xsd:token">
				<xsd:enumeration value = "NoChangeState"/>
				<xsd:enumeration value = "HierState"/>
				<xsd:enumeration value = "FlatState"/>
				<xsd:enumeration value = "UnderlyingState"/>
				<xsd:enumeration value = "MaxState"/>
			</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ScenarioDataFromArchive">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Data structure which represents the raw data in Sophis CSRArchive objects. It is "raw" data because it contains numbers, chars, strings but the structure, unlike XML, is not explicit.
</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:ScenarioData">
				<xsd:sequence>
					<xsd:element name="bool" type="xsd:boolean" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of booleans.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="char" type="common:Char" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of characters.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="short" type="xsd:short" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of shorts.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="int" type="xsd:int" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of integers.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="long" type="xsd:int" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of longs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ulong" type="xsd:unsignedInt" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of unsigned longs.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="float" type="xsd:float" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of floats.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="double" type="xsd:double" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of doubles.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="string" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of strings.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="pstring" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">A list of pascal strings.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="scenarioDataFromArchive" type="tns:ScenarioDataFromArchive" substitutionGroup="tns:scenarioData"/>
	<xsd:simpleType name="RiskMatrixOldResult">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Deprecated result structure for Risk Matrix scenario. Now replaced by the standard scenario output based on "resultLine".
</xsd:documentation>
    </xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="Delta"/>
			<xsd:enumeration value="Gamma"/>
			<xsd:enumeration value="Vega"/>
			<xsd:enumeration value="Rho"/>
			<xsd:enumeration value="Delta PL"/>
			<xsd:enumeration value="Theta"/>
			<xsd:enumeration value="Total Delta"/>
			<xsd:enumeration value="Partial Delta"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AxisUnits">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Types to represent the possibility of defining a bump axis in absolute points or in percent.</xsd:documentation>
    </xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="In Points"/>
			<xsd:enumeration value="In Percentage"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Axis">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Type to represent the range of bumps that can be applied to an Axis in Risk Matrix : the number of bumps (nbSteps) and the step between each (e.g. +0.1).</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="axis" type="xsd:double"/>
			<xsd:element name="step" type="xsd:double"/>
			<xsd:element name="nbSteps" type="xsd:int"/>
		</xsd:sequence>
		<xsd:attribute name="measureUnits" type="tns:AxisUnits" use="optional" default="In Points"/>
		<xsd:attribute name="label" type="common:AxisLabels" use="optional" default="Underlying"/>
	</xsd:complexType>
	<xsd:complexType name="RiskMatrixScenarioData">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Input Data for a risk matrix scenario.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:ScenarioData">
				<xsd:sequence>
					<xsd:element name="result" type="tns:RiskMatrixOldResult" maxOccurs="unbounded"/>
					<xsd:element name="x" type="tns:Axis"/>
					<xsd:element name="y" type="tns:Axis"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="riskMatrixScenarioData" type="tns:RiskMatrixScenarioData" substitutionGroup="tns:scenarioData"/>
	<xsd:complexType name="ValuationSet">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Data structures that represent the input (and output) of the Sophis Valuation Service. The input contains 2 main data structure: the position(s) to valuate (cf. "pricingInput") and the market data (cf. "market"). Note that the market data is optional. When no market data is provided, the current market data context will be used. Providing specific market data allows to calculate the P&amp;L under stress/bumped conditions.</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="tns:pricingInput" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of measurable objects.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="tns:market" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of pricing structures used for the valuations calculation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="tns:valuation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of results of valuations.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="withFastPnL" type="xsd:boolean" use="optional" />
	</xsd:complexType>
	<xsd:element name="valuationSet" type="tns:ValuationSet"/>
	<xsd:complexType name="Valuation" abstract="true">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A valuation of an valuable object - an asset or a pricing input. This is an abstract type, used as a base for values of pricing structures.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
      <xsd:element name="pricingDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="objectReference" type="tns:PricingInputReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A reference to the asset or pricing structure that this values.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:element name="valuation" type="tns:Valuation"/>
	<xsd:complexType name="PricingInputReference">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A reference to a pricing reference, ie. structure or data point.</xsd:documentation>
		</xsd:annotation>
		<!-- nb:  this is implicitly an empty reference -->
		<xsd:attribute name="href" use="required" type="xsd:IDREF"/>
	</xsd:complexType>
	<xsd:complexType name="PricingInput">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines the ID and the object to be revaluated.</xsd:documentation>
    </xsd:annotation>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:element name="pricingInput" type="tns:PricingInput"/>
  <xsd:complexType name="CustomColumnSet">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A list of portfolio columns (defined by the ColumnSet) to be calculated by the Valuation Service.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="column" type="xsd:string" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DisplayedPosition">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies whether the valuation results should display (include) or not the closed positions, in case of valuation of a book. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value = "HideClosedPositions"/>
      <xsd:enumeration value = "ShowEverything"/>
      <xsd:enumeration value = "WithoutPosition"/>
      <xsd:enumeration value = "HideClosedPositionsAndFolios"/>
	  <xsd:enumeration value = "HideClosedPositionsShowClosedToday"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PricesDates">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">
        list of prices dates to change ; if empty change all ; can be :
        - EVALUATIONDATEFORDERIVATIVES
        - OTHERSSPOTS
        - FXSPOTS
        - POSITIONS
        - USEAUDITTRAIL
        - INSTRUMENTS
        - MARKPNLRULESSET
        - USEENTRYDATE
        - VOLATILITIES
        - DIVIDENDS
        - CORRELATIONS
        - CREDITRISK
        - SUBSCRIPTIONSREDEMPTIONS
        - REPOCURVES
        - RATECURVES
        - THEORETICALS
        - PRICERCATEGORIES
        - MARKETCATEGORIES
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="pricesDate" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PortfolioValuation">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">
        Valuation of a portfolio. Uses the portfolio reporting
        mechanism, hence the content varies upon the columns definitions in Risque.

        Important Note: The columns definition must NOT include 'InstrumentType', which is not implemented for servers
        at the present moment.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Valuation">
        <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="reporting:reporting" minOccurs="0"/>
          <xsd:element ref="reporting:dynamicReporting" minOccurs="0"/>
        </xsd:choice>
          <xsd:element name="viewType" type="tns:ViewState" minOccurs="0" default="HierState" />
          <xsd:choice>
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">
                Since 5.3.3 choice between :
                - columnSet : name of a column set configuration defined in database
                - customColumnSet : set of columns ; only these ones will appear in result
                if nothing is choosen, default behavior is columnSet="Configuration"
              </xsd:documentation>
            </xsd:annotation>
            <xsd:element name="columnSet" type="xsd:token" minOccurs="0" default="Configuration" />
            <xsd:element name="customColumnSet" type="tns:CustomColumnSet" minOccurs="0" />
          </xsd:choice>
          <xsd:element name="processingDate" type ="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3.3 ; if not defined it is the system date</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pricesDates" type ="tns:PricesDates" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 6.1.2.5 ; contains prices dates to change ; if no present change all</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="processRootNode" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">
                Since 5.3.3 ; if true add columns for root node, default value = false if not defined
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="displayedPosition" type="tns:DisplayedPosition" minOccurs="0" default="HideClosedPositions">
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">
                Since 5.3.3 ; choose what positions will be displayed ; default = Opened if not defined
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="drillDownLevel" type="xsd:int">
          <xsd:annotation>
            <xsd:documentation source="http://www.sophis.net" xml:lang="en">
            Since 5.3.3.15, drill down level of portfolio valuation. Overload .ini configuration.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="xmlColumnsNames" type="xsd:boolean" default="true">
          <xsd:annotation>
            <xsd:documentation source="http://www.sophis.net" xml:lang="en">if false use portfolio source v2 format</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="portfolioValuation" type="tns:PortfolioValuation" substitutionGroup="tns:valuation"/>
	<xsd:complexType name="Coordinate">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Decorates an axis system with 
				labels or measure units
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
  			<xsd:element name="x" type="xsd:string"/>
			<xsd:element name="y" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
  		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DataPointValue">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Value of a data point.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:double">
				<xsd:attribute name="label" type="xsd:string" use="optional"/>
				<xsd:attribute name="max" type="xsd:boolean" use="optional" default="false"/>
				<xsd:attribute name="min" type="xsd:boolean" use="optional" default="false"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DataPoint">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Represents a matrix element or
				a point of a graphic representation.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
  			<xsd:element name="x" type="xsd:double"/>
			<xsd:element name="y" type="xsd:double" minOccurs="0"/>
			<xsd:element name="value" type="tns:DataPointValue" minOccurs="0" maxOccurs="unbounded"/>
  		</xsd:sequence>
		<xsd:attribute name="row" type="xsd:int" use="optional"/>
		<xsd:attribute name="column" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="MultiDimensionalData">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">May represent a bi-dimensional matrix or
			a 2D graphic representation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
  			<xsd:element name="labels" type="tns:Coordinate" minOccurs="0"/>
  			<xsd:element name="measureUnits" type="tns:Coordinate" minOccurs="0"/>
  			<xsd:element name="dataPoint" type="tns:DataPoint" minOccurs="0" maxOccurs="unbounded"/> 
  		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
		<xsd:attribute name="rows" type="xsd:int" use="optional"/>
		<xsd:attribute name="columns" type="xsd:int" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ScenarioValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Valuation of a scenario.</xsd:documentation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3, need just a element scenario, which contains useless datas.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Valuation">
				<xsd:sequence>
					<xsd:element ref="scenario:scenario"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="scenarioValuation" type="tns:ScenarioValuation" substitutionGroup="tns:valuation"/>
	<xsd:complexType name="BasicQuotation">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">Some kind of numerical measure about an asset, eg. its NPV, together with characteristics of that measure.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="tns:Quotation.model"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnderlyingAsset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows to create underlying which will be necessary to define an instrument to price. It is created only in-memory during the valuation and is removed afterwards (not saved in database). For example create a SHARE to valuate an option on the share.</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:PricingInput"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="underlyingAsset" type="tns:UnderlyingAsset" substitutionGroup="tns:pricingInput"/>

  <xsd:complexType name="ConvertibleBond">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="lax" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="convertibleBond" type="tns:ConvertibleBond"/>

	<xsd:complexType name="ConvertibleBondInstrument">
		<xsd:annotation>
			<xsd:documentation>Can contain an old definition of convertible bonds (derivative_message)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="instrument:Instrument">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="pricing" type="instrument:Pricing" />
					<xsd:element ref="tns:convertibleBond" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="convertibleBondInstrument" substitutionGroup="instrument:instrument" type="tns:ConvertibleBondInstrument">
  </xsd:element>

	<xsd:complexType name="InstrumentAsset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows to create the instrument to be valuated. It is created only in-memory during the valuation and is removed afterwards (not saved in database). For example create a vanilla option to be valuated.
</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:UnderlyingAsset">
				<xsd:choice>
					<xsd:element ref="instrument:instrumentIdentifier" />
					<xsd:element ref="instrument:instrument" maxOccurs="unbounded"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="instrumentAsset" type="tns:InstrumentAsset" substitutionGroup="tns:underlyingAsset"/>
	<xsd:complexType name="FxRateAsset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows to create underlying FX pair which will be necessary to define an instrument to price. It is created only in-memory during the valuation and is removed afterwards (not saved in database). For example create a EUR/USD FX pair to valuate a comoo option on a share.</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:UnderlyingAsset">
				<xsd:sequence>
					<xsd:element name="quotedCurrencyPair" type="instrument:QuotedCurrencyPair">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="fxRateAsset" type="tns:FxRateAsset" substitutionGroup="tns:underlyingAsset"/>
	<xsd:complexType name="InstrumentSet">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of instruments usable for quotation purposes.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="tns:underlyingAsset" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of underlying assets (bonds, discount instruments, futures, etc.) that can be used as a basis for benchmark quotes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- in the future, add quotable derivative assets here -->
			<xsd:element name="dummy" type="xsd:int" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ResultMode">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">Rsult mode that can be returned by a DerivativeAssetValuation</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="All"/>
			<xsd:enumeration value="TheoOnly"/>
			<xsd:enumeration value="ResultModeEnumCount"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CurrencyAsset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows to create a currency which will be necessary to define an instrument to price. It is created only in-memory during the valuation and is removed afterwards (not saved in database). For example create HKD to valuate an option on an HKD share.</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:UnderlyingAsset">
				<xsd:sequence>
					<xsd:element name="currency" type="instrument:Currency" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="href" type="xsd:IDREF" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="currencyAsset" type="tns:CurrencyAsset" substitutionGroup="tns:underlyingAsset"/>
	<xsd:complexType name="CurrencySet">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of currencies usable for derivative calculation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="tns:currencyAsset" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BasicAssetValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A structure that holds a set of measures about an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Valuation">
				<xsd:sequence>
					<xsd:element name="quote" type="tns:BasicQuotation" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">One or more numerical measures relating to the asset, possibly together with sensitivities of that measure to pricing inputs</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="basicAssetValuation" type="tns:BasicAssetValuation" substitutionGroup="tns:valuation"/>
	<xsd:complexType name="ForwardPriceValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">A structure that holds the forward price at a given date, of an asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:BasicAssetValuation">
				<xsd:sequence>
					<xsd:element name="date" type="xsd:date">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">The forward date at which the price has been calculated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="forwardPriceValuation" type="tns:ForwardPriceValuation" substitutionGroup="tns:valuation"/>
  <xsd:complexType name="FairValueAssetValuation">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">A structure that holds the fair value of an asset, expressed in asset currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Valuation">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:double" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The fair value of the asset.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="currency" type="instrument:Currency" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The optional currency that the asset is expressed in.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="fairValueAssetValuation" type="tns:FairValueAssetValuation" substitutionGroup="tns:valuation"/>
  <xsd:complexType name="QuotedAssetSet">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of quoted assets.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="instrumentSet" type="tns:InstrumentSet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of instruments used as a basis for quotation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- at this point we could add "quotableProduct" as a substitution group, to allow, for example, quotable RelativeSwaps to be included in the set -->
			<xsd:element name="assetQuote" type="tns:BasicAssetValuation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of valuations (quotes) for the assets needed in the set. 
					Normally these quotes will be for the underlying assets listed above, but they don't necessarily have to be.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MarketData">
		<xsd:annotation>
			<xsd:documentation xml:source="http://www.FpML.org" xml:lang="en">A collection of pricing inputs.</xsd:documentation>
			<xsd:documentation xml:source="http://www.sophis.net" xml:lang="en">At the present moment, are implemented :
				+ Spots
        + Volatilities
        + Dividends.
        + Yield curves
        + Correlations
        + Preferences</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The name of the market, e.g. the USDLIBOR market. Used for description and understandability.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quotedAssetSet" type="tns:QuotedAssetSet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of benchmark instruments and quotes used as inputs to the pricing models.</xsd:documentation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">instruments and spots.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencies" type="tns:CurrencySet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of currencies.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="tns:pricingStructureValuation" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The values of the pricing structure used to represent the markets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
		<xsd:attributeGroup ref="common:PersistentEntity.model">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3.3 add persitenceType for import</xsd:documentation>
				</xsd:annotation>
    </xsd:attributeGroup>
  </xsd:complexType>
	<xsd:element name="market" type="tns:MarketData"/>
	<xsd:complexType name="PricingStructureValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">An abstract pricing structure valuation base type. Used as a base for values of pricing structures such as yield curves and volatility matrices. Derived from the "Valuation" type.</xsd:documentation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en" >Removed PricingInputDates.model elements</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
      <xsd:extension base="tns:Valuation"></xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="pricingStructureValuation" type="tns:PricingStructureValuation" />
	<xsd:complexType name="DerivativeAssetValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">A structure that holds a set of Greeks measures about a derivative asset against each of its underlyers.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:Valuation">
				<xsd:sequence>
			<xsd:element name="resultMode" type="tns:ResultMode" minOccurs="0">
				<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">Result Mode.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="instrumentSet" type="tns:InstrumentSet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of underlyers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currencies" type="tns:CurrencySet" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">A collection of currencies related to the derivative asset.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="derivative" type="tns:Derivative" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of valuations (derivatives) for the assets needed in the set.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="derivativeAssetValuation" type="tns:DerivativeAssetValuation" substitutionGroup="tns:valuation"/>
	
	<xsd:complexType name="ExtValue">
    	<xsd:annotation>
      		<xsd:documentation>
		        Defines an extra value, with eventually grammar provided (and loaded) at deploy time.
			</xsd:documentation>
    	</xsd:annotation>
    	<xsd:sequence>
      		<xsd:any namespace="##any" processContents="lax" minOccurs="1" maxOccurs="1"/>
    	</xsd:sequence>
  	</xsd:complexType>
	
	<xsd:complexType name="Derivative">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">A structure that holds the computation result of a derivation against an underlying asset.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="relativeTo" type="tns:PricingInputReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:choice minOccurs="0">
				<xsd:element name="value" type="xsd:double">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The value of the the derivative.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="extValue" type="tns:ExtValue">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">The value expressed as a complex XML.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="currency" type="instrument:Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The optional currency that the derivative is expressed in.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="derivativeScheme" type="xsd:anyURI" use="required"/>
	</xsd:complexType>
	<xsd:group name="Quotation.model">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">Some kind of numerical measure about an asset, eg. its price or NPV, together with characteristics of that measure.</xsd:documentation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3 minOccurs="1" : there is a binding mistake with .NET because of minOccurs="0" and nillable="true".</xsd:documentation>
    </xsd:annotation>
		<xsd:sequence>
			<xsd:element name="value" type="xsd:double" nillable="true">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The value of the the quotation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="tns:QuotationCharacteristics.model">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The characteristics of the quotation.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="QuotationCharacteristics.model">
		<xsd:annotation>
			<xsd:documentation source="http://www.FpML.org" xml:lang="en">A group collecting a set of characteristics that can be used to describe a quotation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="side" type="common:QuotationSideEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The side (bid/mid/ask) of the measure.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="instrument:Currency" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.FpML.org" xml:lang="en">The optional currency that the measure is expressed in. If not supplied, this is defaulted from the reportingCurrency in the valuationScenarioDefinition.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="PricingPreferences">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Pricing structure containing optional flags for the valuation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
			<xsd:extension base="tns:PricingStructureValuation">
				<xsd:sequence>
          <xsd:element ref="pref:preferences" minOccurs="0" >
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">Pricing preferences to be used for the current valuation.</xsd:documentation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3.3 minOccurs="0" for export</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="pricingPreferences" type="tns:PricingPreferences" substitutionGroup="tns:pricingStructureValuation"/>
	<xsd:complexType name="PortfolioAsset">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Valuable object denoting to an existing portfolio. 
      Can be used with Scenario valuation or Portfolio valuation</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
			<xsd:extension base="tns:PricingInput">
				<xsd:sequence>
          <xsd:element ref="folio:folioReference">
            <xsd:annotation>
              <xsd:documentation source="http://www.sophis.net" xml:lang="en">Portfolio reference.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="portfolioAsset" type="tns:PortfolioAsset" substitutionGroup="tns:pricingInput"/>
  <xsd:complexType name="ExtractionAsset">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Valuable object denoting to an existing extraction. 
      Can be used with Scenario valuation or Portfolio valuation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:PricingInput">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="name" type="xsd:string">
              <xsd:annotation>
                <xsd:documentation source="http://www.sophis.net" xml:lang="en">Name of the extraction.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element ref="folio:extraction">
              <xsd:annotation>
                <xsd:documentation source="http://www.sophis.net" xml:lang="en">Since 5.3.3.6 define "inline" the extraction to valuate</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="extractionAsset" type="tns:ExtractionAsset" substitutionGroup="tns:pricingInput"/>
  <xsd:complexType name="Position">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Description of a position in the PositionAsset valuation point of view.
      Composed of an unstrument (either with its description -instrument will be created on the fly and destroyed when valuation is complete- or
      with its existing identifier)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
			<xsd:choice>
				<xsd:element name="instrumentIdentifier" type="instrument:Identifier" />
        <xsd:element ref="instrument:instrument" />
			</xsd:choice>
			<xsd:element name="quantity" type="xsd:double" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Underlying">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Description of the underlying of a position in the PositionAsset valuation point of view.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
			<xsd:choice>
				<xsd:element name="instrumentIdentifier" type="instrument:Identifier" />
        <xsd:element ref="instrument:instrument" />
				<xsd:element name="currency" type="instrument:Currency" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PositionAsset">
    <xsd:annotation>
      <xsd:documentation source="http://www.sophis.net" xml:lang="en">Valuable object denoting to an abstract set of positions (quantity and instrument) compared to an optional underlying (instrument or currency or index).
      Can be used with Scenario valuation.</xsd:documentation>
    </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:UnderlyingAsset">
			<xsd:sequence>
				<xsd:element name="underlying" type="tns:Underlying" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="position" type="tns:Position" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="positionAsset" type="tns:PositionAsset" substitutionGroup="tns:underlyingAsset"/>
</xsd:schema>
