java.bpc_galaxy_batch/integration-flow/src/main/resources/fusioninvest/schema/YieldCurve.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.sophis.net/yieldCurve" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sophis.net/yieldCurve" xmlns:valuation="http://www.sophis.net/valuation" xmlns:instrument="http://www.sophis.net/Instrument"  xmlns:quot="http://www.sophis.net/quotation" xmlns:common="http://sophis.net/sophis/common">
  <xsd:import namespace="http://sophis.net/sophis/common" schemaLocation="common.xsd" />
  <xsd:import namespace="http://www.sophis.net/Instrument" schemaLocation="instrument.xsd" />
  <xsd:import namespace="http://www.sophis.net/valuation" schemaLocation="Valuation.xsd" />
  <xsd:import namespace="http://www.sophis.net/quotation" schemaLocation="quotation.xsd" />
  <xsd:complexType name="TermCurve">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A generic yield curve object, which can be valued in a variety of ways.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifier" type="tns:YieldCurveIdentifier" minOccurs="0"/>
      <xsd:element name="snapshotBaseline" type="common:SnapshotBaseline" minOccurs="0">
	     	 <xsd:annotation>
	        <xsd:documentation source="http://www.sophis.net" xml:lang="en">Baseline to use for snapping data in the past.</xsd:documentation>
	       </xsd:annotation>
	    </xsd:element>
      <xsd:element name="name" type="common:StringBounded39" minOccurs="0" />
      <xsd:element name="date" type="xsd:date" minOccurs="0" />
      <xsd:element name="inputs" type="valuation:InstrumentSet" minOccurs="0" />
      <xsd:element name="parentInflationIndex" type="valuation:PricingInputReference" minOccurs="0" />
      <xsd:element name="shortRateTemplate" type="valuation:PricingInputReference" minOccurs="0" />
      <xsd:element name="longRateTemplate" type="valuation:PricingInputReference" minOccurs="0" />
      <xsd:element name="futureRateTemplate" type="valuation:PricingInputReference" minOccurs="0" />
      <xsd:element name="model" type="common:StringBounded39" minOccurs="0" />
      <xsd:element name="spread" type="tns:TermCurveSpread" minOccurs="0" />
      <xsd:element name="points" type="tns:TermPoints" minOccurs="0" />
      <xsd:element name="extraFields" type="common:ExtraFields" minOccurs="0" />
	 	  <xsd:element name="MMToFuturesFRAsSmoothing" type="xsd:string" minOccurs="0"/>
	     <xsd:element name="FuturesFRAsToSwapsSmoothing" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="common:PersistentEntity.model"/>
  </xsd:complexType>
  <xsd:element name="yieldCurve" type="tns:TermCurve" />
  <xsd:complexType name="TermCurveSpread">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Configuration of a Spread and Spread Type added on top of the Market Quotes or Zero-Coupon Rates</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="spreadValue" type="xsd:double" minOccurs="0" />
      <xsd:element name="spreadType" type="tns:CurveSpreadType" minOccurs="0" />
      <xsd:element name="spreadFamily" type="xsd:normalizedString" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CurveSpreadType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The type of Spread (None, Zero-Coupon, Forward,...) that it applied on top of the Market Points or Zero-Coupon Curve</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="Undefined"></xsd:enumeration>
      <xsd:enumeration value="ZeroCoupon"></xsd:enumeration>
      <xsd:enumeration value="Forward"></xsd:enumeration>
      <xsd:enumeration value="SpreadCurve"></xsd:enumeration>
	  <xsd:enumeration value="ZeroCouponSpreadCurve"></xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TermPoint">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A value point that can have a time dimension. Allows bid, mid, ask, and spread values to be represented.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="term" type="tns:TimeDimension">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The time dimension of the point (tenor and/or date)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="yield" type="xsd:double"></xsd:element>
      <xsd:element name="timeToMaturity" type="xsd:short" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Time to maturity in months, only for FRA points</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="definition" type="valuation:PricingInputReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional reference to an underlying asset that defines the meaning of the value, i.e. the product that the value corresponds to. For example, this could be a discount instrument.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="extraFields" type="common:ExtraFields">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">contains all extensible elements (CSRInfoSup data)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isBond" type="xsd:boolean" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If true the point is a bond reference</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="TermPoints">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The list of Market Points used as input parameters to build the Curve</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="point" type="tns:TermPoint" maxOccurs="unbounded" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TimeDimension">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The time dimensions of a term-structure. The user must supply either a tenor or a date or both.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:annotation>
        <xsd:documentation xml:lang="en">The Maturity of a Market Point may be either described as a Relative Date, Absolute Date or Custom format</xsd:documentation>
      </xsd:annotation>
      <xsd:element name="tenor" type="common:DateInterval">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The amount of time from the base date of the pricing input to the specified term point, e.g. 6m or 5y.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="date" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The absolute date corresponding to this term point, for example January 3, 2005.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="YieldCurveTenor" type="tns:YieldCurveMaturity">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The maturity description of the plot as it is in the yield curve, e.g. 3x6, 6M+1 or 1d+1.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="href" type="xsd:IDREF" />
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="YieldCurveMaturity">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A description of the yield curve plot maturity plot as it is in the GUI. It is used when the maturity is not a standard one. User for 1d+1, 1M+2, etc...</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="periodMultiplier" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This the first number in the date description.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="plotType" type="common:char">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the letter the describe the plot type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="offset" type="xsd:short">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the second number in the date description. It is used as an offset according to plot type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="YieldCurveIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">yield curve identifier : currency + family + </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="code" type="xsd:int"/>
        <xsd:group ref="tns:FullYieldCurveIdentifier"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="yieldCurveIdentifier" type="tns:YieldCurveIdentifier"/>
  <xsd:element name="yieldCurveHistoricIdentifier" type="tns:YieldCurveIdentifier"/>

  <xsd:group name="FullYieldCurveIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        yield curve identifier : currency + family + name (+ inflation index reference for inflation yield curves)
        rule :
        - currency is mandatory
        - if currency is lonely defined look for the default yield curve for this currency (or the default yield curve for the inflation index for inflation yield curves)
        - if currency and family is defined look for the default yield curve for this currency and this family (family checked to currency)
        - if all parameters is defined try to find the yield curve matching them
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="currency" type="instrument:Currency"/>
	  <xsd:element name="inflationIndexRef" type="common:StringBounded39" minOccurs="0"/>
      <xsd:element name="family" type="common:StringBounded39" minOccurs="0"/>
      <xsd:element name="name" type="common:StringBounded39" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>

  <xsd:complexType name="YieldCurveHistoric">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describe an price historic of a given yield curve</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="identifier" type="tns:YieldCurveIdentifier"/>
      <xsd:element ref="quot:quotations"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="common:PersistentEntity.model"/>
  </xsd:complexType>
  <xsd:element name="yieldCurveHistoric" type="tns:YieldCurveHistoric"/>

	<xsd:simpleType name="BondYieldCurveQuotationType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Specify the type of quotation for an on-the-run bond yield curve</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="CleanPercent"/>
			<xsd:enumeration value="DirtyPercent"/>
			<xsd:enumeration value="CleanAmount"/>
			<xsd:enumeration value="DirtyAmount"/>
			<xsd:enumeration value="InRate"/>
			<xsd:enumeration value="LAST"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="BondYieldCurvePoint">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Describe an on-the-run bond yield curve</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bond" type="instrument:Identifier">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The identifier of the point bond</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quotationType" type="tns:BondYieldCurveQuotationType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The type of quotation used</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="quotation" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The point quotation</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="isUsed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Whether the point should be taken into account</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BondYieldCurvePoints">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The list of points of an on-the-run bond yield curve</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="point" type="tns:BondYieldCurvePoint" maxOccurs="unbounded" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="BondYieldCurve">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Describes an on-the-run bond yield curve</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="code" minOccurs="0" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The identifier of the curve</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="instrument:Currency">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The currency of the curve</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="model" type="common:StringBounded39">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The model of the curve</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name" minOccurs="0" type="common:StringBounded39">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The name of the curve</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="past" minOccurs="0" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Whether the curve is a past one</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="date" minOccurs="0" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The curve date</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="interpolation" type="common:StringBounded39">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The interpolation model of the curve</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shortBasis" type="instrument:DayCountBasis">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The day count basis to use for short term points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shortMode" type="instrument:YieldCalculation">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The yield calculation mode to use for short term points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="longBasis" type="instrument:DayCountBasis">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The day count basis to use for long term points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="longMode" type="instrument:YieldCalculation">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The yield calculation mode to use for long term points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="onAdjustedDate" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Whether point maturities should be on adjusted dates</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="onSettlementDate" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Whether point maturities should be on settlement dates</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="spread" type="xsd:double">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The spread to use to coimpute point YTM</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="points" type="tns:BondYieldCurvePoints">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The list of all the curve points</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="extraFields" minOccurs="0" type="common:ExtraFields">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The toolkit fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="bondYieldCurve" type="tns:BondYieldCurve"/>
  <!-- Types -->
	<xsd:complexType name="BondYieldCurveIdentifier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en"> Bond yield curve identifier : currency + name  
       Yield curve identifier : currency + family + name
       Rule :
        - currency is mandatory
        - if currency is lonely defined look for the default yield curve for this currency
        - if currency and name defines an unique curve
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="code" type="xsd:int" minOccurs="0"/>
        <xsd:element name="currency" type="instrument:Currency" minOccurs="0"/>
        <xsd:element name="name" type="common:StringBounded39" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="bondYieldCurveIdentifier" type="tns:BondYieldCurveIdentifier"/>
  
  <xsd:complexType name="YieldCurveNumericalResultsValuation">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">TO DO</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="valuation:Valuation">
				<xsd:sequence>
					<xsd:element ref="tns:curvePerimeter" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.FpML.org" xml:lang="en">A collection of yield curves and dates to be valuated.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="curveNumericalResults" type="tns:CurveNumericalResults" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="http://www.sophis.net" xml:lang="en">
								Contains the same number of elements as there are curvePerimeters.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="yieldCurveNumericalResultsValuation" type="tns:YieldCurveNumericalResultsValuation" substitutionGroup="valuation:valuation"/>
	
	<xsd:complexType name="CurvePerimeter">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">
				Specifies a yield curve and a list of dates. The specified dates will be added to the yield curve points' dates.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="tns:yieldCurveIdentifier"/>
			<xsd:element name="forwardRate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">Forward rate reference</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zcMode" type="instrument:YieldCalculation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">
						Zero Coupon yield calculation mode. If not specified, take the value from ModeleCalcul global preference
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zcBasis" type="instrument:DayCountBasis" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://www.sophis.net" xml:lang="en">
						Zero Coupon basis. If not specified, take the value from ModeleBase global preference
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="maturity" type="tns:TimeDimension" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" />
	</xsd:complexType>
	<xsd:element name="curvePerimeter" type="tns:CurvePerimeter"/>
	
	<xsd:complexType name="NumericalResult">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">
				Contains one numerical result line. When an error occurs, only the error attribute is filled.
				If the numerical result corresponds to a date specified as input, the href is filled with the date identifier.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:date">
				<xsd:attribute name="discFactor" type="xsd:double"/>
				<xsd:attribute name="discFactorRate" type="xsd:double"/>
				<xsd:attribute name="fixingDate" type="xsd:date"/>
				<xsd:attribute name="forwardRate" type="xsd:double"/>
				<xsd:attribute name="convexityAdjustment" type="xsd:double"/>
				<xsd:attribute name="href" type="xsd:IDREF" />
				<xsd:attribute name="error" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="numericalResult" type="tns:NumericalResult" nillable="true"/>

	<xsd:complexType name="CurveNumericalResults">
		<xsd:annotation>
			<xsd:documentation source="http://www.sophis.net" xml:lang="en">Contains the numerical results for one rate curve</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation source="http://www.sophis.net" xml:lang="en">
					Contains a list of points or error if date not applicable
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element ref="tns:numericalResult" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="href" type="xsd:IDREF" />
		<xsd:attribute name="error" use="optional" type="xsd:string"/>
	</xsd:complexType>
	<xsd:element name="curveNumericalResults" type="tns:CurveNumericalResults"/>
	

  <xsd:complexType name="DiscountFactor">
    <xsd:simpleContent>
      <xsd:extension base="xsd:double">
        <xsd:attribute name="date" type="xsd:date" use="required" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="discountFactor" type="tns:DiscountFactor"/>

  <xsd:complexType name="ZeroRateCurve">
	<xsd:sequence>
		<xsd:element name="identifier" type="tns:YieldCurveIdentifier"/>
		<xsd:element name="refDate" type="xsd:date" minOccurs="0">
			<xsd:annotation>
      			<xsd:documentation xml:lang="en">
					Must be before all discount factor dates!
      			</xsd:documentation>
    		</xsd:annotation>
		</xsd:element>
		<xsd:element ref="tns:discountFactor" maxOccurs="unbounded"/>
	</xsd:sequence>
  </xsd:complexType>

  <xsd:element name="zeroRateCurve" type="tns:ZeroRateCurve" />
</xsd:schema>
