java.bpc_galaxy_batch/integration-flow/src/main/resources/xsd/txc/FixingType.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by BNP PARIBAS ASSURANCE (BNP PARIBAS ASSURANCE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.3">  
  <!--3.0.3 (31/07/2009, FTSAT ETL) - MàJ / correction automatique d'encodage vers ISO-8859-1 -->
  <!--3.0.2 (11/05/2009/ FTSAT PWCT) - MàJ / correction automatique d'encodage vers ISO8859-1 -->  
  <!--Normalisation Cours - Taux de Change - Version V 2.00 du 14/03/2008 - CM-->  
  <!--06/04/2009 - DTA : remplacement des types nonNegativeInteger et positiveInteger par integer suite à bug informatica de la nouvelle version 8.6-->  
  <!--V3.0.0 (27/11/08, CMO) : Revue du bloc Anmly : Suppression de la sequence itérative dans le bloc Anomly.Source (remontée des tags ProvdrAnmlyType et Desc), suppression de l'itération sur la sequence après Target et ajout d'une itération sur Anomly.-->  
  <!--V3.0.0 (21/10/08, CMO) : Remplacement des xs:decimal par xs:double et passage à la nouvelle numérotation des pivots - remplacement connecteur All de ExchangeRateValue en sequence-->  
  <!--V2.04 (30/05/08, CMO) : Modification de FixingType suite aux abbréviations des balises du type complexe ObjectIdentificationType + Format EventInpuDate + Rattachement Status à un type-->  
  <!--V2.03 (22/05/08, DTAS) : incrément du numéro de version pour rester en phase avec Event et Dump qui ont évolué-->  
  <!--T1.00 16/04/08 new names-->  
  <!--V2.02 : Renommage de l'objet en fixing  + Revue générale bloc InitiatingEvent (STD) et Context (ajout du N° CRE)-->  
  <!--V2.01 : Ajout du bloc facultatif InitiatingEvent, renommage bloc Identifier en CurrencyExchangeIdentification - Context pointe sur le nouveau type DataContext et création blocs Status et Provider.-->  
  <!--V2.00 - Mises aux normes techniques (ICE)-->  
  <!--V1.22 - Passage en obligatoire du taux de change ExchangeRate-->  
  <!--V1.22 - Ajout du bloc Anomaly pour le Réf.cours (gestion des flux au statut EnAnomalie) + Création CurrencyExchangeDump + ajout données CreationDate, UpdateDate et CurrencyExchangeStatus-->  
  <xs:include schemaLocation="NormalisationTypes.xsd"/>  
  <xs:complexType name="FixingType"> 
    <xs:annotation> 
      <xs:documentation>Type d'objet Taux De Change (Fixing)</xs:documentation> 
    </xs:annotation>  
    <xs:sequence> 
      <xs:element name="FixngIdntfctn"> 
        <xs:complexType> 
          <xs:all> 
            <xs:element name="UnitCurr" type="CurrencyCode"> 
              <xs:annotation> 
                <xs:documentation>Devise dans laquelle est exprimé un montant à convertir</xs:documentation> 
              </xs:annotation> 
            </xs:element>  
            <xs:element name="QuotdCurr" type="CurrencyCode"> 
              <xs:annotation> 
                <xs:documentation>La Devise dans laquelle un montant doit être converti.</xs:documentation> 
              </xs:annotation> 
            </xs:element>  
            <xs:element name="PlaceOfListng" type="MICIdentifier"> 
              <xs:annotation> 
                <xs:documentation>Place of Listing</xs:documentation> 
              </xs:annotation> 
            </xs:element>  
            <xs:element name="ValdtyDate" type="ISODate"> 
              <xs:annotation> 
                <xs:documentation>Date de validité d'une donnée ou d'un objet</xs:documentation> 
              </xs:annotation> 
            </xs:element> 
          </xs:all> 
        </xs:complexType> 
      </xs:element>  
      <xs:element name="FixngStatus"> 
        <xs:complexType> 
          <xs:sequence> 
            <xs:element name="Status" type="FixingStatusCode"> 
              <xs:annotation> 
                <xs:documentation>Statut du Taux de Change : Valide, Modifie</xs:documentation> 
              </xs:annotation> 
            </xs:element>  
            <xs:element name="EffctveDate" type="ISODate" minOccurs="0"> 
              <xs:annotation> 
                <xs:documentation>Date d'effet du statut</xs:documentation> 
              </xs:annotation> 
            </xs:element> 
          </xs:sequence> 
        </xs:complexType> 
      </xs:element>  
      <xs:element name="InitiatngEvt" type="STDInitiatingEventType" minOccurs="0"/>  
      <xs:element name="Mesure"> 
        <xs:complexType> 
          <xs:sequence> 
            <xs:element name="ExchngeRateValue"> 
              <xs:annotation> 
                <xs:documentation>Les différentes mesures d'un Taux de Change</xs:documentation> 
              </xs:annotation>  
              <xs:complexType> 
                <xs:sequence> 
                  <xs:element name="Ask" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>Taux offert à la vente</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="Bid" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>Taux offert à l'achat</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="Opening" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>La valeur du taux à l'ouverture du marché</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="High" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>La valeur la plus haute du taux sur une période donnée</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="Low" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>La valeur la plus basse du taux sur une période donnée</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="Closng" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>Dernier taux (à l'achat ou à la vente) observé à la fin d'une session de négociation sur un marché organisé</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="PriceChnge" type="BaseOneRate" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>Variation d'un cours entre deux valorisations.</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="ExchngeRate" type="BaseOneRate"> 
                    <xs:annotation> 
                      <xs:documentation>Facteur de conversion d'un montant d'une Devise dans une autre. Reflète le prix d'achat d'une Devise dans une autre à un instant donné.</xs:documentation> 
                    </xs:annotation> 
                  </xs:element> 
                </xs:sequence> 
              </xs:complexType> 
            </xs:element> 
          </xs:sequence> 
        </xs:complexType> 
      </xs:element>  
      <xs:element name="Provdr"> 
        <xs:annotation> 
          <xs:documentation>Informations sur le provider</xs:documentation> 
        </xs:annotation>  
        <xs:complexType> 
          <xs:sequence> 
            <xs:element name="DataProvdr" type="ProviderCode"> 
              <xs:annotation> 
                <xs:documentation>Source d'informations financières. Fournit des informations et des données financières via divers media.</xs:documentation> 
              </xs:annotation> 
            </xs:element>  
            <xs:element name="ProvdrTimeStamp" type="ISODateTime"> 
              <xs:annotation> 
                <xs:documentation>Date et heure de récupération des données chez le Provider</xs:documentation> 
              </xs:annotation> 
            </xs:element> 
          </xs:sequence> 
        </xs:complexType> 
      </xs:element>  
      <xs:element name="Anmly" minOccurs="0" maxOccurs="unbounded"> 
        <xs:annotation> 
          <xs:documentation>Bloc utilisé pour les Cours reçus des providers en anomalie (format/contenu)</xs:documentation> 
        </xs:annotation>  
        <xs:complexType> 
          <xs:sequence> 
            <xs:element name="Srce"> 
              <xs:annotation> 
                <xs:documentation>Données Sources</xs:documentation> 
              </xs:annotation>  
              <xs:complexType> 
                <xs:sequence> 
                  <xs:element name="LineNumb" type="xs:integer" minOccurs="0"> 
                    <xs:annotation> 
                      <xs:documentation>N° ligne</xs:documentation> 
                    </xs:annotation> 
                  </xs:element>  
                  <xs:element name="LineValue"> 
                    <xs:annotation> 
                      <xs:documentation>Ligne en anomalie</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="500"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element>  
                  <xs:element name="ProvdrAnmlyType"> 
                    <xs:annotation> 
                      <xs:documentation>Type d'anomalie référencée chez le Provider</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="50"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element>  
                  <xs:element name="ProvdrAnmlyDesc"> 
                    <xs:annotation> 
                      <xs:documentation>Description de l'anomalie référencée chez le Provider</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="500"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element> 
                </xs:sequence> 
              </xs:complexType> 
            </xs:element>  
            <xs:element name="Trget"> 
              <xs:annotation> 
                <xs:documentation>Données Cibles</xs:documentation> 
              </xs:annotation>  
              <xs:complexType> 
                <xs:sequence> 
                  <xs:element name="TagName"> 
                    <xs:annotation> 
                      <xs:documentation>Nom de l'attribut en erreur</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="50"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element>  
                  <xs:element name="TagValue"> 
                    <xs:annotation> 
                      <xs:documentation>Valeur de l'attribut en erreur</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="100"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element>  
                  <xs:element name="FailReasn"> 
                    <xs:annotation> 
                      <xs:documentation>Raison de l'échec</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="100"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element>  
                  <xs:element name="Desc"> 
                    <xs:annotation> 
                      <xs:documentation>Description non structurée</xs:documentation> 
                    </xs:annotation>  
                    <xs:simpleType> 
                      <xs:restriction base="xs:string"> 
                        <xs:maxLength value="500"/> 
                      </xs:restriction> 
                    </xs:simpleType> 
                  </xs:element> 
                </xs:sequence> 
              </xs:complexType> 
            </xs:element> 
          </xs:sequence> 
        </xs:complexType> 
      </xs:element>  
      <xs:element name="Cntxt" type="DataContextType"/> 
    </xs:sequence> 
  </xs:complexType>  

</xs:schema>
